{% extends "layout.html" %}
{% block page_title %}
Manage your appeal - Tribunal review
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/account-nav.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Your PIP benefit appeal
      </h1>
      <div class="details">
        <h2 class="heading-medium">Manish Sharma</h2>
        <h2 class="font-xsmall">Appeal reference:  SC242/16/03435  </h2>
        <h2>Representative: <a href="">Peter Smith</a></h2>
      </div>
      <div class="divider"></div>
      <br/>
      <!-- JS will add .tabs class -->
      <div class="js-tabs"> 
        <ul class="list list-bullet">
          <li><a class="tabs__link" href="#actions">Status</a></li>
          <li><a class="tabs__link" href="#questions">Provide information</a></li>
          <li><a class="tabs__link" href="#history">History</a></li>
        </ul>
        <!-- Tab 1 -->
        <div id="actions" class="tab-content">
          <h2 class="heading-medium">Status of your appeal</h2>
          <div style="padding: 20px 20px 120px 10px;"><img src="/public/images/cor-progress-bar-received.svg"></div>
          <div class="panel-blue">
           <h2 class="heading-small">Latest update</h2>
           <p>DWP now have to respond to your appeal by 21 February 2019. You’ll get another email explaining what happens next, after they’ve responded.
           </p>
           
         </div>
         <br/>
       </div>
       <!-- Tab 2 -->
       <div id="questions" class="tab-content">
        <h2 class="heading-medium">Information requested by the tribunal</h2>
        
        <ul class="appeal-manage-items">
         <li class="task-list-item">
         The tribunal do not need any information from you at this time.
        </li> 
  
    </ul>
    <br/>
    <h2 class="heading-small">Send evidence to the tribunal</h2> 
    <p>If you have any additional information that is relevant to your appeal, you can <a  href="evidence-options">submit it to the tribunal</a>. </p>
      <br/>
  </div>
  <!-- Tab 4 -->
  <div id="history" class="tab-content">
    <h2 class="heading-medium">History of your appeal</h2>
    <table>
  
      <tr>
        <td><a href="appeal-summary">Appeal submitted</a></td>
        <td class="date">17 January 2018</td>
      </tr>
    </tbody>
  </table>
  <br/>
  <br/>
</div>
</div>
<div class="updates-border"></div>
</div>
</div>
<!-- Two thirds -->
<div class="grid-row">
 <!-- <div class="column-one-third">
    <h4 class="heading-small">Account settings</h4>
    <ul class="list">
      <li><a href="#">Contact details</a></li>
      <li><a href="#">Notification preferences</a></li>
      <li><a href="#">Representative details</a></li>
    </ul> 
  </div>-->
  <div class="column-two-thirds">
    <h4 class="heading-small">Help and support</h4>
    <ul class="list">
      <li><a href="service-guide">Service guide</a></li>
      <li><a href="#">Representatives</a></li>
      <li>{% include "includes/help-contact-full.html" %}</li>
    </ul> 
  </div>
</div>
</main>
<p style="font-size: 16px; color: grey; padding-left:30px; float: right;"> <a href="appeal-manage-view">Tribunal review </a></p>
<p style="font-size: 16px; color: grey; padding-left:30px; float: right;"> <a href="https://track-your-appeal.herokuapp.com/prototype-beta-190130">Index - Testing 30.01.19 </a></p>
{% endblock %}