{% extends "layout_unbranded.html" %}
{% block page_title %}
Email - Appeal Received
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
	<p style="padding-top: 30px;"><strong class="bold-small">Subject: </strong>Your PIP benefit appeal</p>
	
	<div class="email-border">
		
		<!--<div style="margin-bottom: 15px;"> <img src="/public/images/notify-email-header.png"></div>-->
		<div class="email-margin">
			<div style="margin-bottom: 20px;"> <img src="/public/images/hmcts-logo.png"></div>
			
			<br/><br/><br/><br/>
			<p>Dear Manish Sharma</p>
			<p>Your Personal Independence Payment (PIP) benefit appeal has been lodged. </p>

			<h2 class="heading-medium">What happens next </h2>

			<p>Department for Work and Pensions (DWP) has to respond to your appeal by 12 June 2019. You'll receive an email which explains what happens next, after they've responded.</p>

			<h2 class="heading-medium">Track and manage your appeal online</h2>

			<ul class="list list-bullet">
				<li>track the progress of your appeal</li> 
				<li>see the details of your hearing (if you are attending)</li>  
				<li>send information to and receive information from the tribunal </li> 
			</ul> 


			<p>Sign in to track and manage your appeal: <br/>
				<a href="idam-sign-in">https://appeal-benefit-decision.service.gov.uk/sign-in</a></p>

				<p>You will need to create an account if you have not already done so. This is to protect your personal information.</p>


				<h2 class="heading-medium">Sending evidence to support your appeal</h2>
				<p>You do not have to send evidence but it can help the tribunal understand the facts of your appeal. Useful evidence shows how your condition affects your life, for example a letter from your doctor or someone who lives with you or knows you well. </p>

				<p>Find out more about what evidence the tribunal finds useful: <a href="../benefit-appeal-evidence">https://appeal-benefit-decision.service.gov.uk/evidence</a></p>
				
				<p>You can upload evidence or send the tribunal a message online: <a href="#">https://appeal-benefit-decision.service.gov.uk/sign-in/provide-information</a></p>

				

				<p>Or you can send your evidence by post to the address below.</p> 

				<div class="panel panel-border-wide">

					<p>Make sure you include a copy of the ‘evidence cover sheet’ which was included in the first letter you received about your benefit appeal. This is so we can link your evidence with your appeal.</p>

				</div>

				<p>If you need a new cover sheet you can download one: <a href="/public/images/evidence-cover-sheet.pdf">https://appeal-benefit-decision.service.gov.uk/evidence-cover-sheet/vUXyPb17L2</a> </p>

				<p>SSCS<br/>
					HMCTS SSCS Tribunal<br/>
					PO Box 12626<br/>
					Harlow<br/>
					CM20 9QF<br/>
				</p> 

				<p>Your hearing will not be at this address. </p>
				<p>PIP Benefit Appeals<br/>
					HMCTS<br/>
					Telephone: 0300 123 1142<br/>
				</p>
				<p>This message is automatically generated; please do not reply to this email.</p>
				
			</div>

		</main>


		{% endblock %}
