 {% extends "layout.html" %}
 {% block page_title %}
 Phone the tribunal - Your benefit appeal
 {% endblock %}
 {% block content %}
 <main id="content"  role="main">
   {% include "includes/phase_banner_beta.html" %}
   {% include "includes/account-nav.html" %} 

   <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        Phone the tribunal 
      </h1>
<p>It’s close to the date for your hearing so you need to phone the tribunal to see whether your hearing can be moved. </p>
<h3 class="heading-small">Benefit appeals helpline (England and Wales)</h3>
Telephone: 0300 123 1142<br>
Monday to Friday, 8:30am to 5pm<br>
<p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
<h3 class="heading-small">Benefit appeals helpline (Scotland)</h3>
Telephone: 0141 354 8400<br>
Monday to Friday, 8:30am to 5pm<br>
<p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>

  


        </div>            
      </div>
    </main>
    {% endblock %}