 {% extends "layout.html" %}
 {% block page_title %}
 Your email - Your benefit appeal
 {% endblock %}
 {% block content %}
 <main id="content"  role="main">
   {% include "includes/phase_banner_beta.html" %}
   {% include "includes/account-nav.html" %} 

   <div class="grid-row">
    <div class="column-two-thirds">
    <h1 class="heading-large">
        Updates will be sent to your new email address
      </h1>
     <br/>
<div class="panel panel-border-wide">

          <p>You still need to use your old email address to sign into this appeal.</p>

        </div>
  </div>
</div>
<br/>
      
          <a class="button" href="your-details-email">Continue</a>
        

        </div>            
      </div>
    </main>
    {% endblock %}