{% extends "layout.html" %}
{% block page_title %}
Benefit appeal evidence - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
  <a href="#" class="link-back">Back</a> 
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">
      Providing evidence to support your appeal
    </h1>
  </div>
</div>
<div class="grid-row">
  <div class="column-two-thirds">
    <p class="lede">Evidence is any information that supports your appeal, such as a letter, written statement or medical report. What you say at a hearing is also evidence. It all helps the tribunal understand the facts of your appeal. </p>

    <p>You should post evidence as soon as possible, if you have it. This is so the tribunal have time to read it before your hearing. The address will be sent to you by post or email, if you provide your email address. </p>

    <h2 class="heading-medium">Medical evidence </h2>
    <p>This type of evidence helps the tribunal understand your condition from the perspective of a medical professional. For example, letters you have from your hospital consultant, doctor, physiotherapist or social worker. A useful letter explains how your condition affects your life at the time of the decision by DWP. Appointment letters are not useful. </p>

    <p>If you don’t have any letters and you think one will help your appeal, you could ask the medical professional who has been treating your condition to write one. Please be aware they may charge you for this and they can take a long time to organise. The tribunal can’t pay for these. </p>

    <h2 class="heading-medium">Written statement</h2>  
    <p>Someone who lives with you or knows you well could write a statement. A useful statement describes how your condition affects your life and includes the types of activities you can and can’t do. It should be their own view. </p>

    <p>It can written by hand or on a computer but it should be signed by the person who wrote it. It should also say what their relationship is to you. </p>

    <h2 class="heading-medium">Photographic evidence</h2> 
    <p>A useful photo will show how your condition affects your life, for example you could take a picture of any aids you use to help you move. Don’t send in photos of your body. </p>

    <h2 class="heading-medium">Oral evidence </h2>
    <p>What you or anyone else says on your behalf at the hearing (if you go) is called oral evidence. If you have a carer or someone who supports you in your home, you could invite them to come and tell the tribunal about your condition. You should check the person is willing to talk at your hearing and available on the day. 
    </p>

    <h2 class="heading-medium">Sending evidence to the tribunal</h2>
    <p>Post your evidence to the address below as soon as possible. This is so the tribunal have time to read it before they make a decision on your appeal.</p>

    <p>Make sure you include a copy of the ‘evidence cover sheet’ that was sent to you. The cover sheet was in the first letter you received about your benefit appeal. You can<a href="/public/images/evidence-cover-sheet.pdf">download a new cover sheet here</a>, if you need one. </p>

    <p>SSCS<br/>
      HMCTS SSCS Tribunal<br/>
      PO Box 12626<br/>
      Harlow<br/>
      CM20 9QF<br/>
    </p> 


  </div>
  <div class="column-third">
    <aside class="govuk-related-items" role="complementary">
      <h2 class="heading-small" id="subsection-title">About your appeal</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="font-xsmall">
          <!-- <li><a href="check-your-hearing-details-mvp">Check your hearing details</a></li>-->
          <li><a href="about-hearing">What to expect at your hearing</a></li><li><a href="claiming-hearing-expenses">Claiming hearing expenses</a></li>
          <li><a href="status-dwp-response">Track your appeal</a></li
            <li><a href="contact-us">Contact us</a></li>
            <!--<li><a href="https://www.gov.uk/browse/benefits/entitlement" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li> -->
          </ul>
        </nav>
      </aside>
    </div>
  </div>

</main>

{% endblock %}