{% extends "layout.html" %}
{% block page_title %}
Task list - Round 1
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Your PIP benefit appeal
      </h1>
      <div class="details">
        <h2 class="heading-medium">Manish Sharma</h2>
        <h2 >Appeal reference:  SC242/16/03435  </h2>
      </div>
      <div class="divider"></div>
      <br/>
      <div class="js-tabs"> <!-- JS will add .tabs class -->
        <ul class="list list-bullet">
          <li><a class="tabs__link" href="#actions">Status</a></li>
          <li><a class="tabs__link" href="#questions">Questions</a></li>
          <li><a class="tabs__link" href="#evidence">Provide evidence</a></li>
          <li><a class="tabs__link" href="#history">History</a></li>
        </ul>
        <!-- Tab 1 -->
        <div id="actions" class="tab-content">
          <h2 class="heading-medium">Status of your appeal</h2>
          <div style="padding: 20px 20px 120px 10px;"><img src="/public/images/cor-progress-bar.svg"></div>
          <div class="panel-blue">
           <h2 class="heading-small">Latest update</h2>
           <p>The tribunal need some more information from you to help them make a decision  on your PIP benefit appeal. </p> 
           <p>You need to <a href="#questions">respond  to the tribunals questions</a> by 7 November 2018.</p>
         </div>
         <br/>
       </div>
       <!-- Tab 2 -->
       <div id="questions" class="tab-content">
        <h2 class="heading-medium">Questions from the tribunal</h2>
        <p>You need to respond by 7 November 2018. <span class="font-xsmall"><a href="/mya-001/extend-are-sure">Extend the deadline</a></span></p>
        <ul class="appeal-manage-items">
           <!-- factory-->
      <li class="task-list-item">
       <a class="task-name" href="/mya-001/question-factory" aria-describedby="factory-respond">
        Tell us more about your work in a factory 
      </a>
      {% if data['factoryCompletedOrDraft'] === 'completed' %}
      <strong href="" class="task-completed" id="eligibility-respond">Completed</strong>
      {% elif data['factoryCompletedOrDraft'] === 'draft' %}
      <a href="/mya-001/question-factory"><strong class="task-draft">Draft</strong></a>
      {% endif %}
    </li> 


      <!-- cooking -->
      <li class="task-list-item">
       <a class="task-name" href="/mya-001/question-cooking" aria-describedby="cooking-respond">
        What help do you need with cooking?
      </a>
      {% if data['cookingCompletedOrDraft'] === 'completed' %}
      <strong href="" class="task-completed" id="eligibility-respond">Completed</strong>
      {% elif data['cookingCompletedOrDraft'] === 'draft' %}
      <a href="/mya-001/question-cooking"><strong class="task-draft">Draft</strong></a>
      {% endif %}
    </li>
    <!-- Walking -->
    <li class="task-list-item">
      <a class="task-name" href="/mya-001/question-walking" aria-describedby="walking-respond">
       What pain do you have when walking?
      </a>
      {% if data['walkingCompletedOrDraft'] === 'completed' %}
      <strong href="" class="task-completed" id="eligibility-respond">Completed</strong>
      {% elif data['walkingCompletedOrDraft'] === 'draft' %}
      <a href="/mya-001/question-walking"><strong class="task-draft">Draft</strong></a>
      {% endif %}
    </li>

                 <!-- DWP response
    <li class="task-list-item">
     <a class="task-name" href="/mya-001/question-dwp-response" aria-describedby="dwp-response">
      Do you have any comments on DWP’s response? 
    </a>
    {% if data['dwpresponseCompletedOrDraft'] === 'completed' %}
    <strong href="" class="task-completed" id="eligibility-respond">Completed</strong>
    {% elif data['dwpresponseCompletedOrDraft'] === 'draft' %}
    <a href="/mya-001/question-dwp-response"><strong class="task-draft">Draft</strong></a>
    {% endif %}
  </li> -->
  <!--<a href="">Help answering questions</a>-->
  <br/>
  <details>
    <summary><span class="summary">Answering the tribunal’s questions </span>
    </summary>
    <p>The tribunal need some additional information from you to help them make a decision on your appeal. The information you provide will be treated as evidence on your appeal. </p>
    <p>Your representative has been sent access to your online appeal so they can log in and answer the question for you. What they write is treated as evidence so it’s important that you know what they are submitting. Ask them to save their answer and you can check it before they submit it. </p>  
    <h3 class="heading-small">Deadline to answer the questions</h3> 
    <p>You are given a deadline with which you have to answer the questions. This is usually a week but may be longer if the tribunal ask you to provide some additional evidence, such as a doctor’s letter. </p>
    <p>If you need more time then you can extend the deadline. You will be given an extra week automatically. You’ll need to give reasons if you need longer than that. </p>
  </details>
</ul>
</div>
<!-- Tab 3 -->
<div id="evidence" class="tab-content">
  <form action="/mya-001/evidence-options" method="post" class="form">
    <h3 class="heading-medium">How do you want to provide additional evidence?</h3><p>Providing evidence is optional. Only send or upload evidence which shows how your condition affects your life at the time of the decision by DWP. <br/><a href="about-evidence">Find out what evidence the tribunal finds useful. </a></p>
    <div class="form-group">
      <fieldset>
        <div class="multiple-choice">
          <input id="radio-1" type="radio" name="radio-group" value="Write a statement">
          <label for="radio-1">Write a statement online</label>
        </div>
        <div class="multiple-choice">
          <input id="radio-2" type="radio" name="radio-group" value="Upload it">
          <label for="radio-2">Upload letters, documents or photos</label>
        </div>
        <div class="multiple-choice">
          <input id="radio-3" type="radio" name="radio-group" value="Post it">
          <label for="radio-3">Send by post</label>
        </div>
      </fieldset>
    </div>
    <div class="form-group">
      <!-- <a href="/evidence-statement" class="button">Continue</a> -->
      <input class="button" type="submit" value="Continue">
    </form>
    <br/>
    <br/>
  </div>
</form>
</div>
<!-- Tab 4 -->
<div id="history" class="tab-content">
  <h2 class="heading-medium">History of your appeal</h2>
  <table>
    <td><a href="evidence-uploaded-you">Evidence received from you</a></td>
    <td class="date">17 October 2018</td>
  </tr>
  <tr>
    <td><a href="evidence-statement-submitted">Statement submitted by you</a></td>
    <td class="date">17 October 2018</td>
  </tr>
  <tr>
    <td><a href="evidence-dwp-response-comments">Your comments on the DWP response</a></td>
    <td class="date">17 October 2018</td>
  </tr>
  <tr>
    <td><a href="evidence-dwp-response">DWP response to your appeal received</a></td>
    <td class="date">10 October 2018</td>
  </tr>
  <tr>
    <td><a href="appeal-summary">Appeal submitted</a></td>
    <td class="date">12 September 2018</td>
  </tr>
</tbody>
</table>
<br/><br/>
<img src="/public/images/download_document_icon.png" width="50px" height="45px">
<a href="#" class="follow">Download all documents relating to your appeal (PDF, 287kb)</a>
<br/><br/>
</div>
</div>
<div class="updates-border"></div>
<div class="grid-row">

  <div class="column-one-third">
    <h4 class="heading-small">Actions on your appeal</h4>
    <ul class="list">
      <li><a href="#">Register a representative</a></li>
      <li><a href="#">Withdraw your appeal</a></li>
      <li><a href="#">Update your contact details</a></li>

      <li><a href="contact-us">Contact us</a></li>   
    </ul> <
  </div>

  <div class="column-one-third">
    <h4 class="heading-small">Actions on your appeal</h4>
    <ul class="list">
      <li><a href="#">Register a representative</a></li>
      <li><a href="#">Withdraw your appeal</a></li>
      <li><a href="#">Update your contact details</a></li>

      <li><a href="contact-us">Contact us</a></li>   
    </ul> 
  </div>
</div>
</div>
  <div class="column-one-third">
  </div>

</div>


</main>
{% endblock %}