{% extends "layout.html" %}
{% block page_title %}
Contact us
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-large">
        Contact us
      </h1>
      <p> You can request support by emailing <a href="mailto:benefitappeals@hmcts.net?subject=Support: SC242/16/03435">benefitappeals@hmcts.net</a></p>
<p>Please include your appeal reference number: SC242/16/03435</p>

 <p>We’ll get back to you within 2 days.</p>

<p> <a href="appeal-manage-dwp-response">Return to Your PIP benefit appeal</a></p>
      
      </div>
    </div>
    
  
  </main>
  {% endblock %}
