{% extends "layout.html" %}
{% block page_title %}
Evidence - options
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a id="back-to-tasks" class="link-back" href="">Back to Your benefit appeal</a>        
      <form action="/mya-001/evidence-options" method="post" class="form">
        <div class="form-group">
          <fieldset>
            <legend>
              <h1 class="heading-large">How do you want to provide additional evidence?</h1>
            </legend>
            <div class="multiple-choice">
              <input id="radio-1" type="radio" name="radio-group" value="Write a statement">
              <label for="radio-1">Write a statement online</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-3" type="radio" name="radio-group" value="Upload it">
              <label for="radio-3">Upload letters, documents or photos</label>
            </div>
          </fieldset>
        </div>
        <div class="form-group">
          <!-- <a href="/evidence-statement" class="button">Continue</a> -->
          <input class="button" type="submit" value="Continue">
          <br/>
          <br/>
          <br/> 
          <details>
            <summary><span class="summary">You can also post evidence to the tribunal</span></summary>
            <h2 class="heading-medium">
              Posting evidence to the tribunal
            </h2>
            <p class="body-text">Post evidence to the address below.</p>
            <p> Make sure it’s clearly marked with your appeal reference number: <span class="bold">SC242/16/03435</span></p>
            <p>Birmingham ASC<br/>
              HM Courts and Tribunals Service<br/>
              Administrative Support Centre (ASC)<br/>
              P O Box 14620<br/>
              Birmingham<br/>
            B16 6FR</p>
            <p><a href="#">Download and print address </a></p>
            <p>Try to post it as soon as possible to avoid delaying your appeal.</p>
          </details>
          <br/>
          <br/>
        </div>
      </form>
    </div>
  </div>
  {% include "includes/help-contact.html" %}
</main>
{% endblock %}
