{% extends "layout.html" %}
{% block page_title %}
Evidence - options
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a id="back-to-tasks" class="link-back" href="">Back to Your benefit appeal</a>        
      <form action="/mya-001/evidence-options" method="post" class="form">
        <div class="form-group">
          <fieldset>
            <legend>
              <h1 class="heading-large">How do you want to provide additional evidence?</h1>
            </legend>
            <div class="multiple-choice">
              <input id="radio-1" type="radio" name="radio-group" value="Write a statement">
              <label for="radio-1">Write a statement online</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-3" type="radio" name="radio-group" value="Upload it">
              <label for="radio-3">Upload letters, documents or photos</label>
            </div>
          </fieldset>
        </div>
        <div class="form-group">
          <!-- <a href="/evidence-statement" class="button">Continue</a> -->
          <input class="button" type="submit" value="Continue">
          <br/>
          <br/>
          <br/> 
          <details>
            <summary><span class="summary">You can also post evidence to the tribunal</span></summary>
<p class="body-text">Post evidence to the address below.</p>
      <p <span class="bold">SSCS<br/>
        HMCTS SSCS Tribunal<br/>
        PO Box 12626<br/>
        Harlow<br/>
        CM20 9QF<br/>
      </p> 

      <p>Post your evidence to the address below as soon as possible. This is so the tribunal have time to read it before they make a decision on your appeal.</p>


        <P>Make sure you include a copy of the ‘evidence cover sheet’ that was sent to you. The cover sheet was in the first letter you received about your benefit appeal. You can <a href="/public/images/evidence-cover-sheet.pdf">download a new cover sheet here</a>, if you need one. </p>
          </details>
         
        </div>
      </form>
    </div>
  </div>
  {% include "includes/help-contact.html" %}
</main>
{% endblock %}
