{% extends "layout.html" %}
{% block page_title %}
Evidence - statement submitted
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
         <a id="back-to-tasks" class="link-back" href="">Back to the history of your appeal</a>
  <div class="grid-row">
    <div class="column-two-thirds">
     
      <h1 class="heading-large">
        DWP comments on your answers to the tribunal questions
      </h1>

      <p><span class="bold-small">Received:</span> 30 January 2019</p>

      <h2 class="heading-small">The tribunal asked  DWP</h2>
    <p>Suspendisse nec purus in tortor aliquet euismod eget in massa. Vestibulum ut nulla sagittis, commodo libero vitae, molestie turpis. </p>
    <p>Suspendisse tristique nisl sit amet lacus iaculis, vel viverra massa vestibulum. Morbi lacinia, nibh vel ullamcorper molestie, diam lacus euismod nisi, accumsan viverra quam sapien et mi. Nunc aliquet maximus justo, tincidunt pretium nisi euismod non.</p>

             <ul class="list list-bullet">
          <li>item one</li>
          <li>item two</li>
          <li>item three</li>
        </ul>
       <img src="/public/images/download_document_icon.png" width="50px" height="45px">
<a href="#" class="follow">Download DWP's answers to the tribunals questions (PDF, 150kb)</a>

      </div>
    </div>
{% include "includes/help-contact.html" %}
  </main>
  {% endblock %}
