{% extends "layout.html" %}
{% block page_title %}
Submit evidence confirmed
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
      You have not extended the deadline
      </h1>
      <p class="body-text">You still have until 23 January 2019 to answer the questions. 
</p>


      <a href="appeal-manage-questions-r1">Return to Your PIP benefit appeal</a>

    </div>
  </div>
  <br/>
  {% include "includes/help-contact.html" %}
</main>
{% endblock %}
