{% extends "layout.html" %}
{% block page_title %}
Hearing requirements
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      
        
        
            <h1 class="heading-large">
              A hearing needs to be booked for your appeal  
            </h1>
            <p>You'll receive an email with details of your hearing by 10 April 2019.</p>
          <p>If you require a hearing room with disabled access or any other support then please email the tribinal at <a href="mailto:benefitappeals@hmcts.net?subject=Hearing requirements: SC242/16/03435">benefitappeals@hmcts.net</a></p>
          <p>Include your appeal reference number on any emails to the tribunal: SC242/16/03435</p>
          
      
    </div> 
      </div>
    </div>
  </main>
  {% endblock %}
