{% extends "layout.html" %}
{% block page_title %}
Hearing request approved confirmed
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a id="back-to-tasks" class="link-back" href="">Back</a>
      <h1 class="heading-large">
        You have submitted your hearing request 
      </h1>
      <p class="body-text">
      The tribunal will review your hearing request.</p> 

<p>You will get an email with a response by 14 April 2018. 
</p>
    </div>
  </div>

<div style="margin-top: 80px; font-size: 14px;">
      <p><a href="index">Index</a></p>
    </div> 
    {% include "includes/help-contact.html" %}
</main>
{% endblock %}
