{% extends "layout.html" %}
{% block page_title %}
Create a password - HMCTS access
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 <div class="phase-banner">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>

    <div class="grid-row">
        <div class="column-full col0">
            <h1 class="heading-large">
                Create a password
            </h1>
        </div>

            <div class="column-two-thirds">
                <div class="form-group ">
                <p>It needs to include at least:</p>
                <ul class="list list-bullet">
                    <li>8 characters</li>
                    <li>a capital letter</li>
                    <li>a number</li>
                </ul>
            </div>

            <form  action="/account-activated" method="get">
                <input type="hidden" name="make_claim" value="true">
                <input type="hidden" name="respond" value="false">

                <div class='form-group'>
                        <label class="password optional form-label" for="user_password">Password</label>
                        <input autocomplete="off" class="password optional form-control form-control-3-4" type="password"/>
                    </div>
                    <div class='form-group'>
                    <label class="password optional form-label" for="user_password">Confirm password</label>
                    <input autocomplete="off" class="password optional form-control form-control-3-4" type="password"/>
                </div>

                <div class='form-group'>
                    <a class="button" href="idam-account-activated">Continue</a>

                    
                </div>

            </form>
        

        </div>
    </div><!-- class="grid-row" -->
</main>

{% endblock %}