{% extends "layout.html" %}
{% block page_title %}
Independent tribunal - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block content %}
<main id="content" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <div class="grid-row">
  <div class="column-full">
    <div class="banner-blue">
     <h1 class="bold-xlarge">An independent tribunal have reviewed your appeal </h1>
   </div>
   <p class="lede">The tribunal have reviewed the information you and DWP have provided. They now have some questions to help them make a decision.</p>  

<p class="lede">The questions will be straightforward and may mean your appeal can be resolved online.</p> 

<p class="lede">The tribunal panel is made up of a judge, a doctor and a disability expert. They are separate to DWP.</p>
   <form>
    <br/>
    <a class="button" href="appeal-manage">Continue to questions</a>
  </form>
</div>
</div>

<div style="margin-top: 80px; font-size: 14px;">
   <p><a href="independence1">Alternative option</a></p>
 </main>
{% endblock %}