<div id="evidence-upload">
    <div class="govuk-form-group">
        <div class="govuk-checkboxes evidence-upload-js" style="display: block;">
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="provide-evidence-1" name="provide-evidence" type="checkbox" value="yes">
                <label class="govuk-label govuk-checkboxes__label" for="provide-evidence-1">
                    I want to provide evidence to support my answer
                </label>
            </div>
        </div>
    </div>
    <div id="evidence-upload-reveal-container" style="display: none;" class="panel panel-border-narrow">
        <h2 class="govuk-heading-m evidence-upload-nojs" style="display: none;">Provide evidence to support your answer</h2>
        <p>You can upload evidence to support your answer such as letters, photos and documents. If you are taking a picture of a letter, place it on a flat surface and take the picture from above.</p>
        <p>
            <div id="uploadFileButton">
                <div class="govuk-form-group">
                    <label class="first-button button-secondary" for="file-upload-1">
                        Choose file
                    </label>
                    <input class="govuk-file-upload evidence-upload-js" id="file-upload-1" name="file-upload-1" type="file" accept=".jpg, .jpeg, .bmp, .tif, .tiff, .png, .pdf, .txt, .doc, .dot, .docx, .dotx, .xls, .xlt, .xla, .xlsx, .xltx, .xlsb, .ppt, .pot, .pps, .ppa, .pptx, .potx, .ppsx" style="display: none;">
                </div>
            </div>
            <div id="upload-spinner">
                <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                <div class="govuk-heading-m spinner-text">File uploading</div>
            </div>
        </p>
        <p>
            <table class="govuk-table" id="files-uploaded">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" colspan="2">Uploaded files</th>
                    </tr>
                </thead>
                <tbody id="evidence-list" class="govuk-table__body">
                    <tr id="row_no_files" class="govuk-table__row">
                        <td class="govuk-table__cell">No files uploaded</td>
                        <td class="govuk-table__cell">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <input id="add-file" name="add-file" type="submit" value="Add file" class="govuk-button secondary-button evidence-upload-nojs" style="display: none;">
        </p>
        <br/>
        <details id="sending-evidence-guide" class="govuk-details" role="group">
            <br/>
            <summary class="govuk-details__summary">

              You can also post evidence to the tribunal

          </summary>

          <p>You can post evidence to the address below.</p>


          <p <span class="bold">SSCS<br/>
              HMCTS SSCS Tribunal<br/>
              PO Box 12626<br/>
              Harlow<br/>
              CM20 9QF<br/>
          </p>

          <p>You must include a copy of the ‘evidence cover sheet’ which was included in the first letter you received about your benefit appeal. You can <a href="/public/images/evidence-cover-sheet.pdf">download a new cover sheet here</a>, if you need one. 

            <p>Try to post it as soon as possible to avoid delaying your appeal.</p>

            <p>Tell the tribunal in your answer if you plan on posting evidence. Briefly describe what you are posting and say when you think it will arrive.</p>
            
    </details>

</div>
</div>