
<div style=" margin-top: 0px; margin-bottom: .75em;"></div>
<details>
  <summary><span class="summary">Contact us for help</span>

  </summary>

  <div class="panel panel-border-narrow">

<div class="contact">



<h2 class="heading-medium" style="margin-bottom: 0px">Web chat</h2>
<p style="margin-bottom: 0px">Get some help by chatting online to an agent.</p>

<div id="chat-button-container"></div>


<h2 class="heading-medium" style="margin-bottom: 0px">Send us a message</h2>
<p>You’ll get a response by email within 2 working days.
<br/><a href="https://track-your-appeal.herokuapp.com/prototype-beta-190211/web-form" target="_blank">Send message (opens in a new window)</a></p>

<h2 class="heading-medium" style="margin-bottom: 0px">Telephone</h2>
<p>Talk to one of our agents now over the phone.</p>
<h3 class="heading-small">Benefit appeals helpline (England and Wales)</h3>
Telephone: 0300 123 1142<br>
Monday to Friday, 8:30am to 5pm<br>
<p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
<h3 class="heading-small">Benefit appeals helpline (Scotland)</h3>
Telephone: 0141 354 8400<br>
Monday to Friday, 8:30am to 5pm<br>
<p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
</div>




</details>





<!--<div style=" margin-top: 40px; margin-bottom: .75em;"></div>
<details>
  <summary><span class="summary">Contact us for help</span>

  </summary>

  <div class="panel panel-border-narrow">

  <h2 class="heading-medium" style="margin: 0px">Email</h2>
<p><a href="help-form" target="_blank">Send us a message</a> (opens in a new page)<br/>  
We’ll get back to you within 2 days.</p>

<h2 class="heading-medium" style="margin: 0px">Telephone</h2>
<p>0300 123 1142<br/> 
(Monday to Friday, 9.00am to 5.00pm)<br/>
Cost 10p per minute from landlines and 3p to 40p per minute from mobiles  (approximate)<br/>
</p>


</details></div>
 -->
