
<div style=" margin-top: 20px; margin-bottom: .75em;"></div>
<details>
  <summary><span class="summary">
    Contact us for help</span>

  </summary>

  <div class="panel panel-border-narrow">

  <h2 class="heading-medium" style="margin: 0px">Email</h2>
<p><a href="help-form" target="_blank">Send us a message</a> (opens in a new page)<br/>  
We’ll get back to you within 2 days.</p>

<h2 class="heading-medium" style="margin: 0px">Telephone</h2>
<p>0300 123 1142<br/> 
(Monday to Friday, 9.00am to 5.00pm)<br/>
Cost 10p per minute from landlines and 3p to 40p per minute from mobiles  (approximate)<br/>
</p>

</div>

</details>
