
<details>
  <summary><span class="summary">
    Contact us</span>

  </summary>

  <div class="panel panel-border-narrow">

 <p> You can request support by emailing <a href="mailto:benefitappeals@hmcts.net?subject=Support: SC242/16/03435">benefitappeals@hmcts.net</a></p>
<p>Please include your appeal reference number: SC242/16/03435</p>

 <p>We’ll get back to you within 2 days.</p>

</div>

</details>



<!--<div style=" margin-top: 0px; margin-bottom: .75em;"></div>
<details>
  <summary><span class="summary">
    Contact us for help</span>

  </summary>

  <div class="panel panel-border-narrow">

  <h2 class="heading-medium" style="margin: 0px">Email</h2>
<p><a href="help-form" target="_blank">Send us a message</a> (opens in a new page)<br/>  
We’ll get back to you within 2 days.</p>

<h2 class="heading-medium" style="margin: 0px">Telephone</h2>
<p>0300 123 1142<br/> 
(Monday to Friday, 9.00am to 5.00pm)<br/>
Cost 10p per minute from landlines and 3p to 40p per minute from mobiles  (approximate)<br/>
</p>

</div>

</details>-->
