<br/>
<br/>

<details>
  <summary><span class="summary">
    Contact us for help

  </summary>

  <h2 class="heading-medium">Telephone</h2>
  <p>0300 123 7050 (Monday to Friday, 9.00am to 5.00pm)</p>

  <h2 class="heading-medium"">Email</h2>
  <p><a href="mailto:benefitappeals@hmcts.net?subject=Support: SC242/16/03435">benefitappeals@hmcts.net</a> (Responses can take up to 2 working days)</p>

  <h2 class="heading-medium">Or tell us what you need help with</h2>
  <p>Don't include personal or financial information, for example, your National Insurance number or credit card details.</p>

  <form>
   <div class="form-group">
    <label class="form-label" for="more-detail">
      What were you doing?
    </label>
    <textarea class="form-control form-control-3-4 autoExpand"  id="textarea" rows='6'></textarea>
  </div>

  <div class="form-group">
    <label class="label" for="more-detail">
      What happened?
    </label>
    <span id="more-detail-hint" class="form-hint">Include any error messages that you saw</span>
    <textarea class="form-control form-control-3-4 autoExpand"  id="textarea" rows='6'></textarea>
    </div>


    <div class="form-group">
      <label class="label" for="email">
        Email address
      </label>
      <span id="email-hint" class="form-hint">
        We’ll only use this to reply to you
      </span>
      <input class="form-control form-control-3-4" id="form-control-1-4" type="text"> 
    </div>

    <button class="button">Send message</button>
  </form>

</details>