// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
margin-top: $gutter;
border-top: 10px solid $govuk-blue;
padding-top: 5px;

.heading-medium {
margin-top: 0.3em;
margin-bottom: 0.5em;
}

li {
margin-bottom: 10px;
list-style-type: none;
}
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.divider {
margin-top: 15px;
border-bottom: 3px solid $govuk-blue;
}

.details .heading-medium {
margin-top: 60px;
margin-bottom: 0;
}

.reduce-top{
margin-top: 20px;
}



// Seconday button

.button-secondary {
@include button ($grey-3);
@include box-sizing (border-box);
vertical-align: top;
margin-left: 30px;

@include media (mobile) {
width: 100%;
text-align: center;
}
}

// Fix unwanted button padding in Firefox
.button::-moz-focus-inner {
border: 0;
padding: 0;
}

.button:focus {
outline: 3px solid $focus-colour;
}


// Save for later link

.save-for-later {
padding-left: 30px;
padding-top: 8px;
}



// Task draft tag

.task-draft { 
background-color: $grey-1;
}



// Email

.email-margin {
margin:  20px 40px 30px 40px;
}

.email-border {
max-width: 680px;
border-style: solid;
border-width: 1px;
border-color: grey;
padding: 0px;
}

.email-padding {
padding:  0px 20px 30px 20px;
}



// File upload

.dropzone{
border:2px dashed #6f777b;
clear:both;
margin-bottom:20px;
padding:15px;
pointer-events:none
}

@media (min-width: 641px){.dropzone{padding:30px}}

.dropzone:focus{outline:3px solid #ffbf47}

.dz-message{text-align:center}

.dz-message-icon{background-image:url(/public/images/dropzone/dropzone-arrow.svg);
background-size:100% 100%;
background-repeat:no-repeat;
display:inline-block;
height:60px;
margin-right:15px;
vertical-align:middle;
width:60px}

@media (min-width: 641px)
{.dz-message-icon{height:90px;width:90px}}

@media (min-width: 641px)
{.dz-message-icon{margin-right:30px}}

.dz-message-text{display:inline-block;
text-align:left;vertical-align:middle}

.js-enabled 
.dropzone 
.form-group{display:none}


// Appellants answer

.appellants-answer{
	margin-top: 20px;
	padding: 20px;
	background-color: $grey-4;
}
