{% extends "layout.html" %}
{% block page_title %}
Task list - Round 1
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Your PIP benefit appeal
      </h1>
      <div class="details">
        <h2 class="heading-medium">Manish Sharma</h2>
        <h2 >Appeal reference:  SC242/16/03435  </h2>
      </div>
      <div class="divider"></div>

      <h2 class="heading-small">Welcome to your online appeal</h2>

      <video controls="controls" width="600" 
      name="Video Name" src="/public/images/movies/welcome.mov"></video>

      <details>
        <summary><span class="summary">Video transcript</span>

        </summary>


        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consectetur est vel dictum tempor. Donec scelerisque orci eget urna eleifend aliquam. </p>

        <h3 class="heading-small">Key points</h3>

        <ul class="list list-bullet">
          <li>Point one</li>
          <li>Point two</li>
          <li>Point three</li>
        </ul>
        <p>Sed leo arcu, ornare nec laoreet sit amet, interdum quis felis. Curabitur gravida nibh id odio eleifend vulputate. Aenean viverra lorem mi, a ornare massa auctor sit amet. Vivamus vehicula accumsan diam vitae laoreet. Vestibulum quis nibh at libero sagittis posuere fermentum vel magna. </p>
        <p>Nunc pharetra commodo purus vestibulum sollicitudin. Sed ut condimentum sapien. Curabitur eu purus id odio convallis accumsan sed elementum mi. Sed porta libero enim, a faucibus augue ornare nec.</p>

      </details>
      <br/><br/>

      <a  href="appeal-dwp-response" class="button">Continue</a>
    </div>

  </div>
</main>
{% endblock %}