{% extends "layout.html" %}
{% block page_title %}
Submit evidence confirmed
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-large">
        You have submitted additional evidence
      </h1>
      <p class="body-text">
        It will be reviewed by the tribunal and considered as part of your appeal. 
      </p>
      <br/>
      <p> <a href="appeal-dwp-response#evidence">Provide more evidence</a>
        <p>   <a href="appeal-dwp-response">Return to questions</a></p>

      
      </div>
    </div>
    {% include "includes/help-contact.html" %}

      <div style="margin-top: 80px; font-size: 14px;">
          <p><a href="email-evidence-uploaded">Evidence uploaded email</a></p>
        </div>  
  </main>
  {% endblock %}
