{% extends "layout.html" %}
{% block page_title %}
COR prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
	<div class="grid-row">
		<div class="column-full">
			<h1 class="heading-xlarge">Continuous Online Resolution
				<span class="heading-secondary">Prototype</span></h1>

				<p><strong class="bold">Version:</strong> Sprint 1 / PI12<br/>
					<strong class="bold">Test date:</strong> tbc<br/>
					<strong class="bold">Location:</strong> tbc<br/>
					<strong class="bold">Participants: </strong>tbc</p>

					<h2 class="heading-medium">Iterations</h2>
					<ul class="list list-bullet">
						<li>Tabbed UI - Questions, Evidence and History</li>
						<li>History - Time line of events and documents</li>
						<li>Videos - Welcome and preliminary view</li>
						<li>Manage your appeal - COR progress bar, action and support links</li>
					</ul>

					<h2 class="heading-medium">Journeys  </h2>

					<ol class="list list-number">
						<li><a href="email-dwp-response-phrrc-e">DWP response</a></li> 
						<li><a href="email-questions-r1-qustf-e">1st round of questions from the panel</a></li>
						<li><a href="email-questions-r2-qustss-e">2nd round of questions from the panel</a></li>
						<li><a href="email-decision-view-pvof-e">Tribunals view</a></li>

						<li><a href="email-decision-dwp-accepted-pvab-e">Decision (DWP accepted view)</a></li>

					</ol>

					<h2 class="heading-medium">Experimental  </h2>
					<p>Investigation into bringing Manage Your Appeal and Online Resolution togtether</p>

					<ol class="list list-number">
						<li><a href="appeal-manage">Manage your appeal</a></li> 
					</ol>

					<h2 class="heading-medium">Notifications tested</h2>
				</div>
			</div>
			<ol class="list list-number">
				<li><a href="email-dwp-response-phrrc-e">DWP response </a></li>
				<li><a href="email-questions-r1">Questions - 1st round</a></li>
				<li><a href="email-questions-r2-qustss-e">Questions - 2nd round</a></li>
				<li><a href="email-decision-view-pvof-e">Tribunals view</a></li>
				<li><a href="email-decision-dwp-accepted-pvab-e">Decision (DWP accepted view)</a></li>
			</ol>

		</div>
	</div>

</main>
{% endblock %}