{% extends "layout.html" %}
{% block page_title %}
Question - factory - Confirm
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-medium">
       You will not be able to change your answer after you submit it. 
      </h1>
     <a class="button" href="/s1pi12/task-list?factoryCompletedOrDraft=completed" type="submit" value="Submit answer">Confirm</a>
      <a href="/s1pi12/question-factory" class="button-secondary">Back to question</a>
      <br/><br/>{% include "includes/help-contact.html" %}
    </div>
  </div>
</main>
{% endblock %}


