{% extends "layout.html" %}
{% block page_title %}
Question - How do you travel to an unfamiliar location?
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="/s1pi12/task-list">Back to questions</a>
      <form class="form" action="/s1pi12/question-factory" method="POST">
        <fieldset class="form-group">
          
            <h1 class="heading-large">
             How do you travel to an unfamiliar location? 
           </h1>
           <p class="body-text">
           The tribunal would like to know: </p>
           <p>• What is your work?</p>
<p>• What activity does it involve?</p>
<p>• Have you had any time off work because of your health conditions in the last year? If so, how long for?</p>

         


        {% if data['factoryCompletedOrDraft'] === 'completed' %}
        <div class="appellants-answer">
          <h2 class="bold-small">Your answer</h2>
          {% if data['textareafactory'] %}
          <p>{{ data['textareafactory'] }}</p>
          {% else %}
          <p>[Answer goes here ]</p>
        <table>
          <thead>
            <tr>
              <th>Evidence</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>[Evidence description goes here]</td>
              <td></td>
            </tr>
          </tbody>
        </table>
        {% endif %}
        <br/>
        <p class="font-small">Submitted: 17 October 2018</p>
      </div>
      {% else %}
      <textarea class="form-control form-control-3-4 autoExpand" name="textareafactory" id="textarea" placeholder="You can write as much as you want " rows='6'
      data-min-rows='6'>{{ data['textareafactory'] }}</textarea>
     
  </fieldset>



<details>
        <summary><span class="summary">Sending evidence to support your answer</span></summary><div class="panel panel-border-narrow">
        <p>You can send additional information to support your answer and the tribunal will consider it. You don’t have to provide anything if you don’t have it.</p> 
        <p>You can either email the additional information or send it by post. Make sure it’s clearly marked with your appeal reference number: <span class="bold">SC242/16/03435</span></p>

        <p>If you think there will be a delay in getting your evidence to the tribunal then send an email to the address below briefly describing what you are sending and when you think it will arrive.</p>

        <h3 class="heading-small">Send evidence by email</h3> 
        <p>You can send your evidence to <a href="mailto:benefitappeals@hmcts.net?subject=Evidence: SC242/16/03435">benefitappeals@hmcts.net</a>  </p>
        <p>Include your appeal reference number and a short description of what you're sending. </p>
        <p>Please note you can only send 10mb of files in one email.</p>
        
        <h3 class="heading-small">Send evidence by post</h3>
        <p>Birmingham ASC<br/>
          HM Courts and Tribunals Service<br/>
          Administrative Support Centre (ASC)<br/>
          P O Box 14620<br/>
          Birmingham<br/>
        B16 6FR</p>
   <p>You'll need to print an <a href="/public/images/evidence-cover-sheet.pdf">evidence cover sheet</a> and send it with your evidence.</p>     

      </div></details>
{% endif %}
      <div class="form-group">
        {% if data['factoryCompletedOrDraft'] !== 'completed' %}
        <div style="padding-top: 30px; padding-bottom: 20px;">

        <a class="button" href="/s1pi12/question-factory-confirm" type="submit" value="Submit to the tribunal">Submit answer to the tribunal</a>
        <!--<a class="button" href="/task-list?factoryCompletedOrDraft=completed" type="submit" value="Submit answer">Submit answer</a>-->
        
  <input class="button-secondary" type="submit" value="Save for later">
        <br/><br/>
        {% endif %}
      </form>
      <br/>{% include "includes/help-contact.html" %}
    </div>
  </div>
</main>
{% endblock %}
