{% extends "layout.html" %}
{% block service_name %}   
{% endblock %}
{% block page_title %}
Welcome to the online hearing
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
 <div align="center">
  <h1 class="heading-large">Welcome to the online hearing for your benefit appeal</h1>
      <video controls="controls" width="800" height="600" 
       name="Video Name" src="/public/images/sample-video.mov"></video>
    </div>
    <br/>
  </main>
  {% endblock %}
