{% extends "layout.html" %}
{% block page_title %}
Benefit appeal evidence - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <div class="grid-row">
    <div class="column-two-thirds">
            <a class="link-back" href="evidence-upload">Back to upload evidence</a>
        <h1 class="heading-xlarge">
            Providing evidence to support your appeal
        </h1>
        <p class="lede">Evidence is any information that supports your appeal, such as a letter, written statement or medical report. If you go to the hearing, what you say is also evidence. It all helps the tribunal understand the facts of your appeal. </p>

        <p>If you have any evidence, you should post it as soon as possible to the address at the bottom of the page. This is so the tribunal have time to read it before your hearing. </p>

        <h2 class="heading-medium">Medical evidence </h2>
        <p>This type of evidence helps the tribunal understand your condition from the perspective of a medical professional. For example, letters you have from your hospital consultant, doctor, physiotherapist or social worker. A useful letter explains how your condition affects your life at the time of the decision by DWP. </p>

        <p>If you don’t have any letters, you could ask for a letter from a medical professional who has been treating your condition. Please be aware they may charge you for providing this. The tribunal can’t reimburse you. </p>

        <h2 class="heading-medium">Written statement</h2>
        <p>Someone who lives with you or knows you well could write a statement. A useful statement describes how your condition affects your life and includes the types of activities you can and can’t do. It should be their own view. </p>

<p>It can written by hand or on a computer but it should be signed by the person who wrote it. It should also say what their relationship is to you. </p>
      
        <h2 class="heading-medium">Photographic evidence</h2>
        <p>A useful photo will show how your condition affects your life, for example you could take a picture of any aids you use to help you move. Don’t send in photos of your body. </p>
        
        <h2 class="heading-medium">Oral evidence</h2>
        <p>What you or anyone else says on your behalf at the hearing is called oral evidence. If you have a carer or someone who supports you in your home, you could invite them to come and tell the tribunal about your condition. You should check the person is willing to talk at your hearing and available on the day. </p>
        <h2 class="heading-medium">Where to send your evidence</h2>
        <p>Post evidence to the following address, clearly marked with your appeal reference number: </p>
        
            <p>Birmingham ASC<br/>
                HM Courts and Tribunals Service<br/>
                Administrative Support Centre (ASC)<br/>
                P O Box 14620<br/>
                Birmingham<br/>
            B16 6FR</p>
       
        <p>Send evidence to the tribunal as early as possible. If you submit evidence too close to your hearing, it might have to be rescheduled because there hasn’t been enough time to review it.  </p>

        <br/>
                    <a class="link-back" href="evidence-upload">Back to upload evidence</a>

    </div>
    <!--<div class="column-third">
      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">About your appeal</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
             <li><a href="check-your-hearing-details">Check your hearing details</a></li>
             <li><a href="about-hearing">What to expect at your hearing</a></li><li><a href="claiming-hearing-expenses">Claiming hearing expenses</a></li>
             <li><a href="status-hearing-booked">Track your appeal</a></li>
             <li><a href="contact-us">Contact us</a></li>
             <!--<li><a href="https://www.gov.uk/browse/benefits/entitlement" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li> 
         </ul>
     </nav>
 </aside>
</div> -->
<br/>{% include "includes/help-contact.html" %}

</div>

</main>
{% endblock %}