{% extends "layout.html" %}
{% block page_title %}
Decision positive
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
  <!--       <div class="final-decision">

   <br/>
<div align="center" style="margin-bottom: 15px;"> <img src="/public/images/hmcts_crest.png"></div><br/> <br/> <br/> -->
  

      <h1 class="heading-large">
        The tribunal’s decision on your appeal
      </h1>

 <br/>



      <div class="panel-blue">
        <p class="bold-medium">The tribunal have decided the appeal in DWP’s favour</p>

        <p>The tribunal have decided you are entitled to Personal Independence Payment (PIP) at the following rates:
        </p>
        <table>
  
          <tbody>
<tr>
              <td class="bold-small">Daily living</td>
              <td>No award</td>
            </tr>
            <tr>
              <td class="bold-small">Mobility</td>
              <td>No award</td>
            </tr>
          </tbody>
        </table>
        <br/>
        <p>You are eligible for PIP at the above rates from 3 October 2017 until 3 March 2020. </p>

        <p>Department for Work and Pensions (DWP) are responsible for paying you the benefit and any back payments owed. This decision has been communicated to them.</p>
      </div>
      <h2 class="heading-medium">How the tribunal made their decision</h2>
      <p>We reached the decision by considering all the evidence you and DWP submitted in relation to your appeal. This included any additional evidence you submitted. </p>

      <p>After considering this evidence we acknowledge that you experience pain in your lower back when doing some tasks around the house. Specifically washing yourself and preparing food. We consider that this pain does not hinder you enough to be awarded the enhanced rate of the daily living component of PIP. </p>

      <P>You claim that suffer pain while walking and you find it hard to plan a route, but in your written submission you also said you were going regularly to the GPs at the time of DWP’s decision. You also stated that you made your own way there without the assistance of aids. It is therefore our view that you are not eligible for the Mobility aspect of PIP at any rate</p>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-full">
        
<h2 class="heading-medium">PIP activities and descriptors the tribunal considers to apply</h2>
<table>
 <thead>
  <tr>
    <th scope="col">Activity</th>
    <th scope="col">Descriptor</th>
    <th scope="col">Points</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Preparing food</td>
    <td>Needs to use an aid or appliance to be able to prepare or cook a simple meal</td>
    <td>2</td>
  </tr>

  <tr>
    <td>Washing and bathing</td>
    <td>Needs to use an aid or appliance to be able to wash or bathe</td>
    <td>2</td>
  </tr>

  <tr>
    <td>Managing toilet needs or incontinence</td>
    <td>Needs to use an aid or appliance to be able to manage my toilet needs or incontinence</td>
    <td>2</td>
  </tr>

  <tr>
    <td>Dressing and undressing</td>
    <td>Needs to use an aid or appliance to be able to dress or undress</td>
    <td>2</td>
  </tr>

</tbody>
</table>
<br/>


<br/><br/>


<img src="/public/images/download_document_icon.png" width="50px" height="45px">
<a href="#" class="follow bold-small">Download your official PIP benefit appeal decision notice</a>

</div>
</div>


</main>
{% endblock %}
