{% extends "layout.html" %}
{% block page_title %}
Decision or hearing
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
       The tribunal have made a decision on your appeal
     </h1>
     <p>They have considered all the information you and DWP have sent them.</p>
               <br/>

     <form action="/decision-or-hearing" method="post" class="form">
      <div class="form-group">
        <fieldset>
          <legend>
            <h1 class="bold-medium">What do you want to do?</h1>
          </legend>
          <br/>
          <div class="multiple-choice">
            <input id="radio-1" type="radio" name="radio-group" value="decision">
            <label for="radio-1"><span class="bold-small">I want my decision now online</span><br/>You will not be able to choose a hearing later if you take your decision now.</label>
          </div>
          <div class="multiple-choice">
            <input id="radio-2" type="radio" name="radio-group" value="hearing">
            <label  for="radio-2"><span class="bold-small">I want a face to face hearing</span><br/>The decision at the hearing may be different to the one being offered now. You may also have to wait 3 months for the hearing. </label>
          </div>
        </fieldset>
      </div>

        <input class="button" type="submit" value="Continue">
      
    </form>

    <br/>{% include "includes/help-contact.html" %}
  </div>
</div>
</main>
{% endblock %}
