{% extends "layout.html" %}
{% block page_title %}
Accepted the view
{% endblock %}
{% block content %}
<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">
				You have accepted the tribunal’s view 
			</h1>
			<p class="body-text">This view has also been communicated to DWP. </p>

<p>If they accept, the decision will be issued and your appeal will be closed. </p>

<p>If they request a hearing, you will be asked if you want to attend. </p>

<p>You will get an email telling you whether they have accepted the view by
 26 September 2018. 
</p>

			      <a href="#">Exit service</a>
<div style="margin-top: 80px; font-size: 14px;">
    <p><a href="email-view-accepted">View accepted email</a></p>
  </div>  
		</div>
	</div>
</main>
{% endblock %}
