{% extends "govuk_template_unbranded.html" %}

{% block head %}
<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}
{% block page_title %}
Other party has sent information (PAIS-E)
{% endblock %}
{% block content %}
<main id="content" role="main" >
	
	<p style="padding-top: 30px; font-size: 16px;">
		<strong style="font-weight: bold;">Subject: </strong>Your PIP benefit appeal: DWP has submitted additional information<br/>
		<strong style="font-weight: bold;">From: </strong>PIP Benefit Appeals (pipbenefitappeals@hmcts.net)<br/>
	<!--	<strong style="font-weight: bold;">Date: </strong>14/02/2018 <br/>
	</p> -->
	<div class="email-border">
		<div style="margin-bottom: 15px;"> <img src="/public/images/notify-email-header.png" alt="GOV.UK"></div>
		<div class="email-margin">
			<div style="padding: 60px 0 80px 0px;"> <img src="/public/images/hmcts-logo.png" alt="Her Majesty's Court and Tribunal Service logo"></div>

			<div class="panel panel-border-wide">
				<p>Appeal reference number: SC242/16/03435</p>
			</div>
			<br/>
			<p>Dear Manish Sharma</p> 
			<p>The DWP has submitted additional information for the tribunal to consider. It is attached to this email.</p>

			<p>PIP Benefit Appeals<br/>
				HM Courts & Tribunals Service<br/>
				Telephone: 0300 123 1142<br/>
			</p>
			
		</div>
		
	</main>
	{% endblock %}
