{% extends "layout.html" %}
{% block page_title %}
Additional evidence - post
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
    <a class="link-back" href="evidence-additional">Back</a>
      <h1 class="heading-large">
        Posting evidence to the tribunal
      </h1>
      <p class="body-text">Post evidence to the address below. Make sure it’s clearly marked with your appeal reference number: <span class="bold">SC242/16/03435</span></p>
      <p>Birmingham ASC<br/>
        HM Courts and Tribunals Service<br/>
        Administrative Support Centre (ASC)<br/>
        P O Box 14620<br/>
        Birmingham<br/>
      B16 6FR</p>
     <p>You'll need to print an <a href="/public/images/evidence-cover-sheet.pdf">evidence cover sheet</a> and send it with your evidence.</p>
      <p>Try to post it as soon as possible to avoid delaying your appeal.</p>
<p>If you think there will be a delay in getting your evidence to the tribunal then send an email to <a href="mailto:benefitappeals@hmcts.net?subject=Evidence: SC242/16/03435">benefitappeals@hmcts.net</a> briefly describing what you are sending and when you think it will arrive.</p>

    </div>
  </div>
</main>
{% endblock %}
