{% extends "layout.html" %}
{% block page_title %}
Additional evidence - Upload
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="evidence-additional">Back</a>
      <form class="form">
        <legend>
          <h1 class="heading-large">
            Upload additional evidence
          </h1>
          <p>You can upload letters, documents or photos. For example, you could take a photo of a letter from your doctor and upload it. If you do take a photo, make sure the letter or document is on a flat surface and the photo is taken from above. </p>
          <p>Useful evidence describes or shows how your condition affects your life.<br/><a href="about-evidence">Read more about what evidence the tribunal finds useful</a></p>
          <!--<a href="about-evidence">Read more about what evidence the tribunal finds useful</a>--></p>
        </legend>
        <br/>
        <label class="heading-small" for="upload-description">Describe the evidence<span class="form-hint">Briefly describe what you’re uploading and why</span>
        </label>
        <textarea class="form-control autoExpand form-control-3-4" id="textarea"  rows='4' data-min-rows='4' width="100%" ></textarea>
        <br/>
        <div id="uploadFileButton">
          <div class="govuk-form-group">
            <label class="first-button button-secondary" for="file-upload-1">
              Choose file
            </label>
            <input class="govuk-file-upload evidence-upload-js" id="file-upload-1" name="file-upload-1" type="file" accept=".jpg, .jpeg, .bmp, .tif, .tiff, .png, .pdf, .txt, .doc, .dot, .docx, .dotx, .xls, .xlt, .xla, .xlsx, .xltx, .xlsb, .ppt, .pot, .pps, .ppa, .pptx, .potx, .ppsx" style="display: none;">
          </div>
        </div>
        <div id="upload-spinner">
          <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
          <div class="govuk-heading-m spinner-text">File uploading</div>
        </div>
      </p>
      <p>
        <table class="govuk-table" id="files-uploaded">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" colspan="2">Uploaded files</th>
            </tr>
          </thead>
          <tbody id="evidence-list" class="govuk-table__body">
            <tr id="row_no_files" class="govuk-table__row">
              <td class="govuk-table__cell">No files uploaded</td>
              <td class="govuk-table__cell">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <input id="add-file" name="add-file" type="submit" value="Add file" class="govuk-button secondary-button evidence-upload-nojs" style="display: none;">
      </p>  
      
      
    </form>
  </div>
</div>
          <!--
          <details>
            <summary><span class="summary">Switch to another device to upload</span></summary><div class="panel panel-border-narrow">
            <div class="panel panel-border-narrow">
              <p>To upload using another device like your mobile phone, got to: </p>
              <p><a href="">http://evidence.upload@hmcts.net</a></p>
              <p>You will be asked to enter this code</p>
              <p class="bold-small">730506</p>
            </div>
          </div></details>
        -->
        
        
        <a href="evidence-confirm" class="button">Submit evidence to the tribunal</a>

      </form>
    </div>
  </div>
</main>
{% endblock %}
