{% extends "layout.html" %}
{% block page_title %}
Submit evidence
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a id="back-to-tasks" class="link-back" href="">Back to Your PIP benefit appeal</a>
      <h1 class="heading-large">
        Posting evidence to the tribunal
      </h1>         




      <p>Post your evidence to the address below as soon as possible. This is so the tribunal have time to read it before they make a decision on your appeal.</p>

      <p <span class="bold">HMCTS<br/>
        Copthall House<br/>
        9 The Pavement<br/>
        Grove Road<br/>
        Sutton<br/>
        SM1 1DA<br/>
      </p>
<!--      <p class="body-text">Post evidence to the address below.</p>
      <p <span class="bold">SSCS<br/>
        HMCTS SSCS Tribunal<br/>
        PO Box 12626<br/>
        Harlow<br/>
        CM20 9QF<br/>
      </p> -->
      <P>Make sure you include a copy of the ‘evidence cover sheet’ that was sent to you. The cover sheet was in the first letter you received about your benefit appeal. You can <a href="/public/images/evidence-cover-sheet.pdf">download a new cover sheet here</a>, if you need one. </p>

        <p>Send an email to <a href="mailto:benefitappeals@hmcts.net?subject=Evidence: SC242/16/03435">benefitappeals@hmcts.net</a> briefly describing what you are sending and when you think it will arrive.</p>

        <br/>
      </div>
    </div>
    {% include "includes/help-contact.html" %}
  </main>
  {% endblock %}
