{% extends "layout.html" %}
{% block page_title %}
Submit evidence confirmed
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        You need to provide reasons 
      </h1>
      <p>You need to contact the tribunal and explain why you need more time.</p> 


<p>Send an email explaining why you need more time and the date you can respond by to: <a href="mailto:pipappeals@justice.gov.uk?subject=Extend deadline: SC242/16/03435">pipappeals@justice.gov.uk</a></p> 

<p>Your reasons will be reviewed by a judge.</p>

<p>You will then receive another email telling you whether you have been granted additional time and how the tribunal wish to proceed.</p> 


      <a href="task-list-extend">Return to questions</a>

      <br/><br/>{% include "includes/help-contact.html" %}
    </div>
  </div>
</main>
{% endblock %}
