{% extends "layout.html" %}
{% block page_title %}
Extend request confirm
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="task-list-complete">Back</a>
      <h1 class="heading-large">
        Your request for more time will be reviewed by a judge 
      </h1>
      <p class="body-text">
      You’ll get an email with their decision by 26 April 2018.</p>
      <a  href="task-list-extend">Back to questions</a>    
<br/>{% include "includes/help-contact.html" %}
<div style="margin-top: 80px; font-size: 14px;">
      <p><a href="index">Index</a></p>
    </div> 

    </div>
    </div>
  </main>
  {% endblock %}
