{% extends "layout.html" %}
{% block page_title %}
Submit evidence confirmed
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        You have another week to answer the questions
      </h1>
      <p class="body-text">You now have until 12 November 2018 to answer the questions. </p>

      <a href="task-list-extend">Back to questions page</a>
      <br/><br/>{% include "includes/help-contact.html" %}
    </div>
  </div>
</main>
{% endblock %}
