{% extends "layout.html" %}
{% block page_title %}
Explain why not attending a hearing - GOV.UK
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="hearing-confirm">Back</a>
      <form class="form">
        <fieldset class="form-group">
          <legend>
            <h1 class="heading-large">
              Explain why you want a hearing
            </h1>
            
          </legend>
          <textarea class="form-control form-control-3-4 autoExpand" name="textarea" id="textarea" rows='6' data-min-rows='6'></textarea> 
        </fieldset>
        <div class="form-group">
          <a href="hearing-requirements-start" class="button">Continue</a>
          <!-- <input class="button" type="submit" value="Submit answer"> -->
        </div>
      </form>
      <br/>{% include "includes/help-contact.html" %}
    </div>
  </div>
</main>
{% endblock %}
