{% extends "layout.html" %}
{% block page_title %}
Hearing requirements
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form class="form">
        
          <legend>
            <h1 class="heading-large">
              Booking your telephone hearing  
            </h1>
             </legend>
            <p>You need to provide some information so your telephone hearing can be booked.</p>
         
          
       
      
          <a href="#" class="button">Continue</a>
          <!-- <input class="button" type="submit" value="Submit answer"> -->
          
         {% include "includes/help-contact.html" %}
       
        <div style="margin-top: 80px; font-size: 14px;">
      <p><a href="index">Index</a></p>
    </div> 
      </div>
    </div>
  </main>
  {% endblock %}