{% extends "layout.html" %}
{% block page_title %}
Thanks for contacting us - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <div class="grid-row">
    <div class="column-two-thirds">
            
        <h1 class="heading-large">
            Thanks for contacting us
        </h1>
        

        <p>We will reply within 2 working days using the email you have given us.</p>



</div>

</main>
{% endblock %}