{% extends "layout.html" %}
{% block page_title %}
Check your email - HMCTS access
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" role="main">
       

    <div class="grid-row">
      <div class="column-full">
        <h1 class="heading-large">
          Check your email
        </h1>
      </div>
      
      <div class="column-two-thirds">
        <p class="lede">We've sent you an email. Follow the instructions to finish creating your account.</p>
          <h2 class="heading-medium">Can't see the email?</h2>
          <p class="lede">It can take a few minutes to arrive. Check your junk mail if you can’t see it in your inbox. </p>
          <p class="lede">If you still can't see it <a href="idam-create-account">enter your details again</a>.</p>
  

<p style="padding-top: 60px; font-size: 12px;"><a href="idam-email-verify">Activation email</a></p>
      </div>
</main>

{% endblock %}