{% extends "layout.html" %}
{% block page_title %}
COR prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
	<div class="grid-row">
		<div class="column-full">
			<h1 class="heading-xlarge">Continuous Online Resolution
				<span class="heading-secondary">Prototype</span></h1>
				<h2 class="heading-medium">Proposed MVP for 'Pilot Beta' </h2>

<p>Usability testing 8 August 2018, South London Law Centre.</p>

				<h2 class="heading-medium">User journeys</h2>
			</div>
		</div>
		<ol class="list list-number">
			<li><a href="/mvp/email-questions-r1">Questions - 1st round</a></li>
			<li><a href="/mvp/extend-are-sure">Extend deadline - 1st time</a></li>
			<li><a href="/mvp/extend-are-sure2">Extend deadline - 2nd time</a></li>
			<!--<li><a href="extend-request">Extend deadline request</a></li>-->
			<!--<li><a href=" index-notifications">Deadline reminders</a></li>-->
			<li><a href="/mvp/email-questions-r2">Questions - 2nd round</a></li>
			<!--<li><a href="evidence-options">Submit additional evidence</a></li>-->
			<li><a href="/mvp/email-hearing-required">Hearing required</a></li>
			<!--<li><a href="email-decision-or-hearing">Decision or hearing</a></li>-->
		<!--	<li><a href="email-hearing-request-denied">Hearing request denied</a> (required?)</li>
			<li><a href="email-hearing-request-approved">Hearing request approved</a> (required?)</li> -->
			<!--<li><a href="task-list-no-questions">No questions</a></li>-->
			<!-- <li><a href="email-decision-positive">Final decision</a></li>-->
			<li><a href="/mvp/email-decision-view">Tribunals view</a></li>
			<li><a href="/mvp/email-decision-dwp-accepted">Final decision (DWP accepted)</a></li>
		</ol>
		

<h2 class="heading-medium">Notifications</h2>
</div>
</div>
<ol class="list list-number">
	<li><a href="/mvp/email-questions-r1">Questions - 1st round</a></li>
	<!--<li><a href="email-questions-submitted-confirm">Questions answered confirmation - 1st round</a></li> -->
	<!--<li><a href="email-extension-1week">Deadline extended by 1 week</a></li>-->
	<li><a href="/mvp/email-deadline-expire-1day">Deadline reminder - 1 day</a> (MVP?)</li>
	<li><a href="/mvp/email-deadline-expired">Deadline expired</a> (MVP?)</li>	
	<!--<li><a href="email-extension-granted">Extension granted</a></li>-->	
	<!--<li><a href="email-extension-rejected">Extension rejected</a></li>-->	
	<li><a href="/mvp/email-questions-r2">Questions - 2nd round</a></li>
	<!--<li><a href="email-questions-submitted-confirm-r2">Questions answered confirmation - 2nd round</a></li>-->
	<!--<li><a href="email-evidence-uploaded">Additional evidence uploaded</a></li>-->
	<li><a href="/mvp/email-hearing-required">Hearing required</a></li>
	<li><a href="/mvp/email-decision-view">Tribunals view</a></li>
	<li><a href="/mvp/email-decision-dwp-accepted">DWP accepted</a></li>
	<li>DWP not accepted</li>
	<li>Decsion (no view)</li>
</ol>
</main>
{% endblock %}
