{% extends "layout.html" %}
{% block page_title %}
Question - Tell us about your factory work
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="/mvp/task-list">Back to questions</a>
      <form class="form" action="/mvp/question-factory" method="POST">
        <fieldset class="form-group">
          
            <h1 class="heading-large">
             Tell us more about your work in a factory 
           </h1>
           <p class="body-text">
           You said in your appeal that you work in a factory. Please can you give us a bit more information about this:</p>

           <ul class="list list-bullet">
          
           <li>What type of factory work do you do?</li>
<li>What sort of activities does it involve?</li>
<li>How much time you have had off in the past year because of your health condition? </li>
</ul>
         


        {% if data['factoryCompletedOrDraft'] === 'completed' %}
        <div class="appellants-answer">
          <h2 class="bold-small">Your answer</h2>
          {% if data['textareafactory'] %}
          <p>{{ data['textareafactory'] }}</p>
          {% else %}
          <p>[Answer goes here ]</p>
        <table>
          <thead>
            <tr>
              <th>Evidence</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>[Evidence description goes here]</td>
              <td></td>
            </tr>
          </tbody>
        </table>
        {% endif %}
        <br/>
        <p class="font-small">Submitted: 17 October 2018</p>
      </div>
      {% else %}
      <textarea class="form-control form-control-3-4 autoExpand" name="textareafactory" id="textarea" placeholder="You can write as much as you want " rows='6'
      data-min-rows='6'>{{ data['textareafactory'] }}</textarea>
     
  </fieldset>
          {% include "includes/evidence-upload.html" %}

{% endif %}
      <div class="form-group">
        {% if data['factoryCompletedOrDraft'] !== 'completed' %}
        <div style="padding-top: 30px; padding-bottom: 20px;">

        <a class="button" href="/mvp/question-factory-confirm" type="submit" value="Submit to the tribunal">Submit answer to the tribunal</a>
        <!--<a class="button" href="/task-list?factoryCompletedOrDraft=completed" type="submit" value="Submit answer">Submit answer</a>-->
        
  <input class="button-secondary" type="submit" value="Save for later">
        <br/><br/>
        {% endif %}
      </form>
      <br/>{% include "includes/help-contact.html" %}
    </div>
  </div>
</main>
{% endblock %}
