{% extends "layout.html" %}
{% block page_title %}
Question - Migraine - Confirm
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-medium">
       You will not be able to change your answer after you submit it. 
      </h1>
     <a class="button" href="/mvp/questions-submitted-confirm?migraineCompletedOrDraft=completed" type="submit" value="Submit answer">Confirm</a><br/><br/>
      <a href="/mvp/question-migraine" style="padding-left:0px;">Back to question</a>
      <br/>{% include "includes/help-contact.html" %}
    </div>
  </div>
</main>
{% endblock %}


