{% extends "layout.html" %}
{% block page_title %}
Question - Migraine
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="/mvp/task-list">Back to questions</a>
      <form class="form" action="/mvp/question-migraine" method="POST">
        <fieldset class="form-group">
          <legend>
            <h1 class="heading-large">
             Tell us about your migraines 
           </h1>
           <p class="body-text">
           You said you have difficulties caused by migraines. </p>
           <p>During 2017, can you tell us: </p>
           <p>- how often you had migraines </p>
            <p>- how long they lasted </p>
            <p>- how you deal with them </p>
         
        </legend>


        {% if data['migraineCompletedOrDraft'] === 'completed' %}
        <div class="appellants-answer">
          <h2 class="bold-small">Your answer</h2>
          {% if data['textareamigraine'] %}
          <p>{{ data['textareamigraine'] }}</p>
          {% else %}
          <p>[Answer goes here ]</p>
        <table>
          <thead>
            <tr>
              <th>Evidence</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>[Evidence description goes here]</td>
              <td></td>
            </tr>
          </tbody>
        </table>
        {% endif %}
        <br/>
        <p class="font-small">Submitted: 22 August 2018</p>
      </div>
      {% else %}
      <textarea class="form-control form-control-3-4 autoExpand" name="textareamigraine" id="textarea" placeholder="You can write as much as you want " rows='6'
      data-min-rows='6'>{{ data['textareamigraine'] }}</textarea>
     
  </fieldset>



<details>
        <summary><span class="summary">Sending evidence to support your answer</span></summary>
        <p>If you have any evidence to support your answer, you can either email it or send it by post.</p> 
        <p>Make sure it’s clearly marked with your appeal reference number: <span class="bold">SC242/16/03435</span></p>

        <h3 class="heading-small">Send by email</h3> 
        <p><a href="mailto:benefitappeals@hmcts.net?subject=Evidence: SC242/16/03435">benefitappeals@hmcts.net</a></p>
        <h3 class="heading-small">Send by post</h3>
        <p>Birmingham ASC<br/>
          HM Courts and Tribunals Service<br/>
          Administrative Support Centre (ASC)<br/>
          P O Box 14620<br/>
          Birmingham<br/>
        B16 6FR</p>
        
        <p>Useful evidence helps prove what you have said in your answer such as a letter from a doctor or someone who knows you well. You do not have to send in evidence if you don’t have any.</p>
      </details>
{% endif %}
      <div class="form-group">
        {% if data['migraineCompletedOrDraft'] !== 'completed' %}
        <div style="padding-top: 30px; padding-bottom: 20px;">

        <a class="button" href="/mvp/question-migraine-confirm" type="submit" value="Submit to the tribunal">Submit answer to the tribunal</a>
        <!--<a class="button" href="/task-list?migraineCompletedOrDraft=completed" type="submit" value="Submit answer">Submit answer</a>-->
        <br/><br/>
  <input class="" type="submit" value="Save for later" 
    style="padding-left:0px;
        padding-top: 5px;background:none!important;
        color:#005ea5;
        border:none; 
        font: inherit;
        /*border is optional*/ 
        cursor: pointer;
        text-decoration: underline">
        <br/><br/>
        {% endif %}
      </form>
    </div>
  </div>
</main>
{% endblock %}
