{% extends "layout.html" %}
{% block page_title %}
Benefit appeal not found
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        There is no benefit appeal associated with this email address
      </h1>
      <p class="body-text">Either you have changed your email address or you do not have an active benefit appeal.</p>

      <p>If you have changed your email address then you need to create a new account using your new email address:<p/>
      <p> <a href="">[IDAM ACCOUNT CREATION LINK]</a></p>


    
      <br/>{% include "includes/help-contact.html" %}
    </div>
  </div>
</main>
{% endblock %}



 

 

