{% extends "layout.html" %}
{% block page_title %}
Your questions - Appeal a PIP benefit
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds column-minimum">
      <h1 class="heading-large">
        Your PIP benefit appeal
      </h1>
      <div class="details">
        <h2 class="heading-medium">Manish Sharma</h2>
        <h2>Appeal reference:  SC242/16/03435  </h2>
      </div>
      <div class="divider"></div>
      <br/>
      <h3 class="heading-small">Questions from the tribunal </h3>
      <ul class="task-list-items">
        <li class="task-list-item">
          You have no questions from the tribunal
        </li>
      </ul>
    </li>
<h2 class="heading-small">Providing additional evidence</h2> 
      <p>If you have any additional information that is relevant to your appeal, you can <a  href="evidence-additional">submit it to the tribunal</a>. </p>
    <br/>{% include "includes/help-contact.html" %}
  </div>
</div>
</main>
{% endblock %}
