{% extends "layout.html" %}
{% block page_title %}
Task list - Q3 complete
{% endblock %}
{% block content %}
<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds column-minimum">
      <h1 class="heading-large">
        Your PIP benefit appeal
      </h1>
      <div class="details">
        <h2 class="heading-medium">Manish Sharma</h2>
        <h2>Appeal reference:  SC242/16/03435  </h2>
      </div>
      <div class="divider"></div>
     <br/>
         <h3 class="heading-small">Questions from the tribunal</h3>
          <p>You need to respond by 1 March 2018 <span class="font-xsmall"> (<a href="extend-are-sure">Extend deadline</a>)</span></p>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="question-interacting-comp" aria-describedby="eligibility-completed">
                Interacting with people
              </a>
           
              <strong href="" class="task-completed" id="eligibility-respond">Completed</strong>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="question-walking-comp" aria-describedby="eligibility-completed">
                Your journey to the doctors
              </a>
            
              <strong href="" class="task-completed" id="eligibility-respond">Completed</strong>
            </li>
            <li class="task-list-item">
            <a class="task-name" href="question-migraine-comp" aria-describedby="read-declaration-respond">
                Your migraines
              </a>
              <strong href="" class="task-completed" id="eligibility-respond">Completed</strong>
            </li>
          </ul>
  
<h2 class="heading-small">Sending additional evidence</h2> 
<p>You can send additional information to support your appeal and the tribunal will consider it. You don’t have to provide anything if you don’t have it.
  </p>
<details>
      <summary><span class="summary">How to send additional evidence </span></summary><div class="panel panel-border-narrow">

        <p>You can either email the additional information or send it by post. Make sure it’s clearly marked with your appeal reference number: <span class="bold">SC242/16/03435</span></p>

        <h3 class="heading-small">Send by email</h3> 
        <p><a href="mailto:benefitappeals@hmcts.net?subject=Evidence: SC242/16/03435">benefitappeals@hmcts.net</a></p>
        <h3 class="heading-small">Send by post</h3>
     
      <p>Birmingham ASC<br/>
        HM Courts and Tribunals Service<br/>
        Administrative Support Centre (ASC)<br/>
        P O Box 14620<br/>
        Birmingham<br/>
      B16 6FR</p>
      
      <p>Try to send it as soon as possible to avoid delaying your appeal.</p>
<p>If you think there will be a delay in getting your evidence to the tribunal then send an email to <a href="mailto:benefitappeals@hmcts.net?subject=Evidence: SC242/16/03435">benefitappeals@hmcts.net</a> briefly describing what you are posting and when you think it will arrive.</p>
    </div></details>
    {% include "includes/help-contact.html" %}
      </div>
    </div>
  </main>
  {% endblock %}
