{% extends "layout.html" %}
{% block page_title %}
Your questions - Appeal a PIP benefit
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds column-minimum">
      <h1 class="heading-xlarge">
        Your PIP benefit appeal
      </h1>
      <div class="details">
        <h2 class="heading-medium">Manish Sharma</h2>
        <h2>Appeal reference:  SC242/16/03435  </h2>
        <div class="divider"></div> 
      </div>
    </div>
  </div>
  
  <div class="grid-row">
    <div class="column-two-thirds column-minimum">
      <br/>
      <h3 class="heading-small">Questions from the tribunal</h3>
      <p>You have answered all the questions and submitted them to the tribunal.</p>
      <ul class="task-list-items">
     <!-- factory -->
      <li class="task-list-item">
       <a class="task-name" href="/mvp/question-factory" aria-describedby="factory-respond">Tell us more about your work in a factory 
      </a>
      {% if data['factoryCompletedOrDraft'] === 'completed' %}
      <strong href="" class="task-completed" id="eligibility-respond">Completed</strong>
      {% elif data['factoryCompletedOrDraft'] === 'draft' %}
      <a href="/mvp/question-factory"><strong class="task-draft">Draft</strong></a>
      {% endif %}
    </li> 


      <!-- cooking -->
      <li class="task-list-item">
       <a class="task-name" href="/mvp/question-cooking" aria-describedby="cooking-respond">
        What help do you need with cooking?
      </a>
      {% if data['cookingCompletedOrDraft'] === 'completed' %}
      <strong href="" class="task-completed" id="eligibility-respond">Completed</strong>
      {% elif data['cookingCompletedOrDraft'] === 'draft' %}
      <a href="/mvp/question-cooking"><strong class="task-draft">Draft</strong></a>
      {% endif %}
    </li>
    <!-- Walking -->
    <li class="task-list-item">
      <a class="task-name" href="/mvp/question-walking" aria-describedby="walking-respond">
       What pain do you have when walking?
      </a>
      {% if data['walkingCompletedOrDraft'] === 'completed' %}
      <strong href="" class="task-completed" id="eligibility-respond">Completed</strong>
      {% elif data['walkingCompletedOrDraft'] === 'draft' %}
      <a href="/mvp/question-walking"><strong class="task-draft">Draft</strong></a>
      {% endif %}
    </li>

    
  </ul>

<h2 class="heading-small">Provinding additional evidence</h2> 
      <p>If you have any additional information that is relevant to your appeal, you can <a  href="evidence-additional">submit it to the tribunal</a>. You don’t have to submit anything if you don’t want to. </p>
    <br/>{% include "includes/help-contact.html" %}

<div style="margin-top: 80px; font-size: 14px;">
    <p><a href="/mvp/email-questions-r2-qustss-e">Email - 2nd round of questions</a></p> </div>
</div> 

</main>
{% endblock %}
