{% extends "layout.html" %}
{% block page_title %}
Your questions - Appeal a PIP benefit

{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds column-minimum">
      <h1 class="heading-large">
        Your PIP benefit appeal
      </h1>
      <div class="details">
        <h2 class="heading-medium">Manish Sharma</h2>
        <h2>Appeal reference:  SC242/16/03435  </h2>
      </div>
      <div class="divider"></div>
      <br/>
      <h3 class="heading-small">Questions from the tribunal</h3>
      <p>You need to respond by 28 March 2018 <span class="font-xsmall"> (<a href="extend-are-sure">Extend deadline</a>)</span></p>
      <ul class="task-list-items">
        <li class="task-list-item">
          <a class="task-name" href="question-mobility-r2" aria-describedby="eligibility-completed">
            Walking to the doctors
          </a>
          <strong href="" class="task-completed" id="eligibility-respond">Completed</strong> 
        </li>

        <li class="task-list-item">
              <a class="task-name" href="medical-records-yes" aria-describedby="eligibility-completed">
                Permission to access your medical records
              </a>
              <strong href="" class="task-completed" id="eligibility-respond">Completed</strong> 
            </li>
      </ul>
<h2 class="heading-small">Provinding additional evidence</h2> 
      <p>If you have any additional information that is relevant to your appeal, you can <a  href="evidence-additional">submit it to the tribunal</a>. </p>
    <br/>{% include "includes/help-contact.html" %}
    </div>
  </div>
</main>
{% endblock %}
