{% extends "layout.html" %}
{% block page_title %}
Submit evidence
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
    <a class="link-back" href="task-list-q3-comp">Back to questions</a>
      <h1 class="heading-large">
        Posting evidence to the tribunal
      </h1>
      <p class="body-text">Post evidence to the address below. Make sure it’s clearly marked with your appeal reference number: <span class="bold">SC242/16/03435</span></p>
      <p>Birmingham ASC<br/>
        HM Courts and Tribunals Service<br/>
        Administrative Support Centre (ASC)<br/>
        P O Box 14620<br/>
        Birmingham<br/>
      B16 6FR</p>
      <p><a href="#">Download and print address </a></p>
      <p>Try to post it as soon as possible to avoid delaying your appeal.</p>

    <br/>
    <a class="link-back" href="task-list-q3-comp">Back to questions</a>
    </div>
  </div>
</main>
{% endblock %}
