{% extends "layout.html" %}
{% block page_title %}
Hearing request approved confirmed
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        The tribunal will make a decision on your appeal  
      </h1>
     

<p>The tribunal will make a decision based on the information they already have. </p>

<p>You’ll get an email by 2 May 2018 with their decision. </p>
<br/>
<a href="#">Exit service</a>
    </div>
  </div>

<div style="margin-top: 80px; font-size: 14px;">
      <p><a href="index">Index</a></p>
    </div> 
    
</main>
{% endblock %}
