{% extends "layout.html" %}
{% block page_title %}
Your benefit appeals - Appeal a benefit decision
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/account-nav-home-mutlple-appeals.html" %} 
  <div class="grid-row">
   <div class="column-full">
    <h1 class="heading-xlarge">
      Your benefit appeals
    </h1>
    <div class="details">
      <h2 class="heading-medium">Derek Smith</h2>
      <div class="divider"></div>
    </div>
  </div>
</div>


<table>
  <col width="180">
  <col width="200">
  <col width="190">
  <col width="190">
  <col width="40">

  <tr>
    <th class="bold font-xsmall">Appeal reference</th>
    <th class="bold font-xsmall">Benefit</th>
    <th class="bold font-xsmall">Date submitted</th>
    <th class="bold font-xsmall">MRN date</th>
    <th class="bold font-xsmall">Action</th>
  </tr>
  <tr>
    <td>SC242/16/03435</td>
    <td>PIP</td>
    <td>11 September 2019</td>
    <td>12 September 2019</td>
    <td><a href="">View</a></td>
  </tr>

</table>
<br/>

<div class="details">
  <h2 class="heading-medium">Linda Brown</h2>
  <div class="divider"></div>
</div>
<table>
 <col width="180">
 <col width="200">
 <col width="190">
 <col width="190">
 <col width="40">

 <tr>
  <th class="bold font-xsmall">Appeal reference</th>
  <th class="bold font-xsmall">Benefit</th>
  <th class="bold font-xsmall">Date submitted</th>
  <th class="bold font-xsmall">MRN date</th>
  <th class="bold font-xsmall">Action</th>
</tr>
<tr>
  <td>SC242/16/03435</td>
  <td>Universal Credit</td>
  <td>11 September 2019</td>
  <td>12 September 2019</td>
  <td><a href="">View</a></td>
</tr>

<tr>
  <td>SC242/16/02923</td>
  <td>ESA</td>
  <td>2 September 2019</td>
  <td>16 September 2019</td>
  <td><a href="">View</a></td>
</tr>

<tr>
  <td>SC242/16/02535</td>
  <td>PIP</td>
  <td>12 September 2019</td>
  <td>19 September 2019</td>
  <td><a href="">View</a></td>
</tr>


</table>
<br/>

<div class="details">
  <h2 class="heading-medium">Manish Sharma</h2>
  <div class="divider"></div>
</div>
<table>
 <col width="180">
 <col width="200">
 <col width="190">
 <col width="190">
 <col width="40">

 <tr>
  <th class="bold font-xsmall">Appeal reference</th>
  <th class="bold font-xsmall">Benefit</th>
  <th class="bold font-xsmall">Date submitted</th>
  <th class="bold font-xsmall">MRN date</th>
  <th class="bold font-xsmall">Action</th>
</tr>
<tr>
  <td>SC242/16/03435</td>
  <td>PIP</td>
  <td>11 September 2019</td>
  <td>12 September 2019</td>
  <td><a href="">View</a></td>
</tr>

<tr>
  <td>SC242/16/02923</td>
  <td>Bereavement Support</td>
  <td>2 September 2019</td>
  <td>16 September 2019</td>
  <td><a href="">View</a></td>
</tr>



</table><br/>


<br/><br/>
<!-- Two thirds -->
<div class="grid-row">
  <div class="column-two-thirds">
    <div class="updates-border"></div>
    <h4 class="heading-small">Help and support</h4>
    <ul class="list">
      <li><a href="support-representatives">Representatives</a></li>
      <li><a href="support-withdraw-appeal">Withdrawing an appeal</a></li>
      <li>{% include "includes/help-contact-full.html" %}</li>
    </ul> 
  </div>
</div> 
</main>
{% endblock %}
