{% extends "layout.html" %}
{% block page_title %}
Manage your appeal - Appeal received
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/account-nav-home.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Your PIP benefit appeal
      </h1>
      <div class="details">
        <h2 class="heading-medium">Manish Sharma</h2>
        <h2 class="font-xsmall">Appeal reference:  SC242/16/03435  </h2>
      </div>
      <div class="divider"></div>
      <br/>

      <!-- JS will add .tabs class -->
      <div class="js-tabs"> 
        <ul class="list list-bullet">
          <li><a class="tabs__link" href="#actions">Status</a></li>
          <li><a class="tabs__link" href="#questions">Provide evidence</a></li>
          <li><a class="tabs__link" href="#hearing">Hearing</a></li>
          <li><a class="tabs__link" href="#history">History</a></li>
        </ul>

        <!-- Tab 1 -->
        <div id="actions" class="tab-content">
          <h2 class="heading-medium">Status of your appeal</h2>
          <div style="padding: 20px 20px 120px 10px;"><img width =100% src="/public/images/progress-bar-received.svg"></div>
          <div class="panel-blue">
           <h2 class="heading-small">Latest update</h2>

<p>Your Personal Independence Payment (PIP) benefit appeal has been lodged.</p> 
<p>DWP has to respond to your appeal by 17 June 2019. You’ll get another email explaining what happens next, after they’ve responded.</p>

         </div>
         <br/>
       </div>


       <!-- Provide information -->
       <div id="questions" class="tab-content">
        <h2 class="heading-medium">Provide evidence to the tribunal</h2>
        
       <!-- <ul class="appeal-manage-items">
         <li class="task-list-item">
           The tribunal have not requested any information from you. You will receive an email if they do.
         </li> 

       </ul>
       <br/>
      <h2 class="heading-small">Send evidence to the tribunal</h2> -->
        <p>If you have any more information that you want the tribunal to consider as part of your appeal, then you can <a  href="evidence-options">submit it here</a>. </p>
        <p><a href="support-evidence">Providing evidence to support your appeal</a></p>
       <br/>
     </div>

<!-- Hearing -->
     <div id="hearing" class="tab-content">
      <h2 class="heading-medium">The hearing for your appeal</h2>
      <p>You will receive an email when your hearing has been booked. Unfortunately we cannot say how long this will be. </p> 
      <!-- Hearing venue-->   

      <dl class="govuk-check-your-answers cya-questions-short">

        <div>
          <dt class="cya-question-bold">
           <br/>
           Attending
         </dt>
         <dd class="cya-answer">
          <br/>
          Yes
        </dd>
        <dd class="cya-change">
          <a href="hearing-type-change-sure">
            <br/>
            Change<span class="visually-hidden"> attendence</span>

          </a>
        </dd>
      </div>
      <div>
        <dt class="cya-question-bold">
          <br/>Location
        </dt>
        <dd class="cya-answer">
         <br/>Fox Court<br/>
         14 Gray’s Inn Road<br/>
         M2 8HN<br/>
         <a class="maps-and-directions" href="https://www.google.com/maps/dir/Current+Location/Fox+Court,115+14+Grays+Inn+Road,+Manchester+M2+8HN,+UK">Maps and directions</a>
       </dd>
       <dd class="cya-change">
       </dd>
     </div>
   </dl>  
   <br/> 
   <!-- The hearing arrangements -->
   <dl class="govuk-check-your-answers cya-questions-long">
    <div>
      <dt>
        <h2 class="heading-small">Hearing arrangements</h2>
      </dt>
      <dd class="cya-change">
        <a href="https://track-your-appeal.herokuapp.com/mya-hearing-02/hearing-type/004-hearing-arrangements-selected">
          Change<span class="visually-hidden"> dates you're not available</span>
        </a>
      </dd>
    </div>
  </dl>
  <dl class="govuk-check-your-answers cya-questions-short">
    <div style="padding-top: 120px;">
      <dt class="cya-question">
        <br/>
        <p>Language interpreter</p>
        <p >Sign interpreter</p>
        <p>Hearing loop</p>
        <p >Disabled access</p>
        <p>Any other arrangements</p>
      </dt>
      <dd class="cya-answer">
        <br/>
        <p>Not required<br/><br/></p>
        <p>Not required</p>
        <p>Not required</p>
        <p>Required</p>
        <p>Not required</p>
      </dd>
      <dd class="cya-change">
      </dd>
    </div>
  </dl>

  <dl class="govuk-check-your-answers cya-questions-short">
    <div>
      <dt class="cya-question-bold">
       <br/> Dates you cannot attend 
     </dt>
     <dd class="cya-answer">
      <br/> Tuesday, 10 September 2019 to Wednesday, 19 September 2019
    </dd>
    <dd class="cya-change">
      <br/>  <a href="https://track-your-appeal.herokuapp.com/mya-hearing-02/hearing-type/006-hearing-dates-selected.html">
        Change<span class="visually-hidden"> dates you're not available</span>
      </a>
    </dd>
  </div>
</dl>

<!-- Empty -->
<dl class="govuk-check-your-answers cya-questions-short">
  <div>
    <dt class="cya-question">
     
    </dt>
    <dd class="cya-answer">
     
    </dd>
    <dd class="cya-change">
      
    </dd>
  </div>
</dl> 
<br/>

<p><a href="support-hearing">Find out what a tribunal hearing is like</a> </p>
<br/>
</div>

<!-- History -->
<div id="history" class="tab-content">
  <h2 class="heading-medium">History of your appeal</h2>
  <table>

    <!--<tr>
      <td><a href="">Hearing booked</a></td>
      <td class="date">15 May 2019</td>
    </tr>
        <tr>
      <td><a href="">Evidence submitted</a></td>
      <td class="date">12 January 2019</td>
    </tr>
        <tr>
        <td><a href="#">DWP responded</a></td>
      <td class="date">6 December 2018</td>
    </tr> -->
    <tr>
      <td><a href="appeal-summary">Appeal submitted</a></td>
      <td class="date">15 May 2019</td>
    </tr>
  </tbody>
</table>
<br/>
<br/>
</div>
</div>
<div class="updates-border"></div>
</div>
</div>
<!-- Two thirds -->
<div class="grid-row">
 
  <div class="column-two-thirds">
    <h4 class="heading-small">Help and support</h4>
    <ul class="list">
      <li><a href="service-guide">Service guide</a></li>
      <li><a href="service-guide#rep">Your representative</a></li>
      <li>{% include "includes/help-contact-full.html" %}</li>
    </ul> 
  </div>
</div>
</main>

{% endblock %}