{% extends "layout.html" %}
{% block page_title %}
Extend request confirm
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/account-nav.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        Your request for more time will be reviewed by a judge 
      </h1>
      <p class="body-text">
      You’ll get an email with their decision by [Date].</p>
      <a  href="appeal-q1-extend">Return to your PIP benefit appeal</a>    



    </div>
    </div>
    {% include "includes/help-contact-full.html" %}
  </main>
  {% endblock %}
