{% extends "layout.html" %}
{% block page_title %}
Jearing location change reasons
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/account-nav.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <form class="form">
        <fieldset class="form-group">
          <legend>
            <h1 class="heading-large">
             Your request has been received
            </h1>

            <p>Your request to change your hearing venue has been received. You will be notified by email within 7 days to let you know whether your request has been granted. </p>


 
            <a href="appeal-hearing-location-change-requested#hearing" class="button">Continue</a>


          
        </form>
          

  
      <br/><br/><br/>
<!-- Two thirds -->
<div class="grid-row">
  <div class="column-two-thirds">
    <div class="updates-border"></div>
    <h4 class="heading-small">Help and support</h4>
    <ul class="list">
      <li><a href="support-representatives">Representatives</a></li>
      <li><a href="support-withdraw-appeal">Withdrawing an appeal</a></li>
      <li>{% include "includes/help-contact-full.html" %}</li>
    </ul> 
  </div>
</div>
</main>
  {% endblock %}
