{% extends "layout.html" %}
{% block page_title %}
Location change check
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/account-nav.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a id="back-to-tasks" class="link-back" href="">Back</a>        
      <form action="/mya-004/hearing-location-change-why" method="post" class="form">
        <div class="form-group">
          <fieldset>
            <legend>
              <h1 class="heading-large">Why do you want to change the hearing venue?</h1>
            </legend>
            <p>You can usually only change hearing venue if you have moved to a different area. Your reason will be reviewed by the tribunal. 
</p>
            <div class="multiple-choice">
              <input id="radio-1" type="radio" name="radio-group" value="newarea">
              <label for="radio-1">I have moved to a different area  </label>
            </div>
            <div class="multiple-choice">
              <input id="radio-2" type="radio" name="radio-group" value="notnewarea">
              <label for="radio-2">I have a different reason for wanting to change hearing venue</label>
            </div>
            
          </fieldset>
        </div>
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
          
         
        </div>
      </form>
    </div>
  </div>
<!-- Two thirds -->
<div class="grid-row">
  <div class="column-two-thirds">
    <div class="updates-border"></div>
    <h4 class="heading-small">Help and support</h4>
    <ul class="list">
      <li><a href="support-representatives">Representatives</a></li>
      <li><a href="support-withdraw-appeal">Withdrawing an appeal</a></li>
      <li>{% include "includes/help-contact-full.html" %}</li>
    </ul> 

  </div>
</div>
</main>
{% endblock %}
