{% extends "layout.html" %}
{% block page_title %}
Hearing venue updated
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/account-nav.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        Your address and hearing venue have been updated  
      </h1>
     

<p>You will receive the time and date of your hearing by email and letter, when the hearing is booked. </p>
<a href="your-details-address" class="button">Continue</a>
    </div>
  </div>


    
</main>
{% endblock %}
