{% extends "layout.html" %}
{% block page_title %}
What to expect at your hearing - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %}
  {% include "includes/account-nav.html" %} 
  {% include "includes/breadcrumbs.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-large">
                You need to sign in or create an account to provide evidence online 
            </h1>
 <p>This is to help protect your personal information. </p>

 <a class="button" href="../prototype-beta-24/idam-sign-in">Continue</a>


</main>

{% endblock %}