{% extends "layout.html" %}
{% block page_title %}
Your postcode - Appeal a benefit decision - GOV.UK
{% endblock %}

{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 


<div class="grid-row">
  <div class="column-two-thirds">
    <form>
      <div class="form-group">
        <fieldset>
          <legend class="visually-hidden">Enter your postcode</legend>
          <label>
            <h1 class="heading-large">
              Enter your postcode
            </h1>
          </label>
          <p>This is so we can check it's your appeal.</p>
          <input class="form-control form-control-1-4" id="form-control-1-4" type="text">
        </fieldset>
      </div>
      <a class="button" href="appeal-manage-appeal-received">Continue</a>
    </form>
    <br/>
    <br/>
   
  </div>
</div>
</main>
{% endblock %}


