{% extends "layout.html" %}
{% block page_title %}
COR prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
	<div class="grid-row">
		<div class="column-full">
			<h1 class="heading-xlarge">Manage your appeal
				<span class="heading-secondary">Prototype</span></h1>

				<h2 class="heading-small">Product owner review</h3>
					<p>Date: 5 June 2019</p>

					<h3 class="heading-medium">Access multiple appeals</h3>


					<table>
						<col width="540">
						<col width="60">
						<col width="140">
						<col width="140">
						<tr>
							<th class="bold font-xsmall">Prototype</th>
							<th class="bold font-xsmall">MVP</th>
							<th class="bold font-xsmall">JIRA</th>
							<th class="bold font-xsmall">Confluence</th>


						</tr>
						<tr>
							<td><a href="access-multiple-appeals-appellant">Appellant</a></td>
							<td>Yes</td>
							<td><a href="https://tools.hmcts.net/jira/browse/SSCS-4874">SSCS-4874</a></td>
							<td><a href="https://tools.hmcts.net/confluence/x/XwGJP">UX docs</a></td>
						</tr>

						<tr>
							<td><a href="access-multiple-appeals-appellant">Appointee and representative</a></td>
							<td>No</td>
							<td><a href="https://tools.hmcts.net/jira/browse/SSCS-4874">SSCS-4874</a></td>
							<td><a href="https://tools.hmcts.net/confluence/x/XwGJP">UX docs</a></td>
						</tr>

					</table>

					<br/>
					<h3 class="heading-medium">Your details</h3>

					<table>
						<col width="540">
						<col width="60">
						<col width="140">
						<col width="140">
						<tr>
							<th class="bold font-xsmall">Prototype</th>
							<th class="bold font-xsmall">MVP</th>
							<th class="bold font-xsmall">JIRA</th>
							<th class="bold font-xsmall">Confluence</th>

						</tr>
						<tr>
							<td><a href="email-appeal-lodged">Change your address</a></td>
							<td>Yes</td>
							<td><a href="https://tools.hmcts.net/jira/browse/SSCS-4876">SSCS-4876</a></td>
							<td><a href="https://tools.hmcts.net/confluence/x/XwGJP">UX docs</a></td>
						</tr>

						<tr>
							<td><a href="your-details-address">Change your email address</a></td>
							<td>Yes</td>
							<td><a href="https://tools.hmcts.net/jira/browse/SSCS-4876">SSCS-4876</a></td>
							<td><a href="https://tools.hmcts.net/confluence/x/CITlP">UX docs</a></td>
						</tr>


						<tr>
							<td><a href="your-details-email">Change your contact phone number</a></td>
							<td>Yes</td>
							<td><a href="https://tools.hmcts.net/jira/browse/SSCS-4876">SSCS-4876</a></td>
							<td><a href="https://tools.hmcts.net/confluence/x/CITlP">UX docs</a></td>
						</tr>

						<tr>
							<td><a href="your-details-text-message-updates">Change your text message mobile number</a></td>
							<td>Yes</td>
							<td><a href="https://tools.hmcts.net/jira/browse/SSCS-4877">SSCS-4877</a></td>
							<td><a href="https://tools.hmcts.net/confluence/x/DoTlP">UX docs</a></td>
						</tr>

						<tr>
							<td><a href="your-details-contact-phone">Update text message options (turn off)</a></td>
							<td>Yes</td>
							<td><a href="https://tools.hmcts.net/jira/browse/SSCS-4877">SSCS-4877</a></td>
							<td><a href="https://tools.hmcts.net/confluence/x/DoTlP">UX docs</a></td>
						</tr>
					</table>

					<br/>
					<h3 class="heading-medium">Representative</h3>


					<table>
						<col width="540">
						<col width="60">
						<col width="140">
						<col width="140">
						<tr>
							<th class="bold font-xsmall">Prototype</th>
							<th class="bold font-xsmall">MVP</th>
							<th class="bold font-xsmall">JIRA</th>
							<th class="bold font-xsmall">Confluence</th>


						</tr>
						<tr>
							<td><a href="email-appeal-lodged-rep">Register a representative</a></td>
							<td>No</td>
							<td><a href="https://tools.hmcts.net/jira/browse/SSCS-5440">SSCS-4890</a></td>
							<td><a href="https://tools.hmcts.net/confluence/x/dITlP">UX docs</a></td>
						</tr>

						<tr>
							<td><a href="your-representative">Change/edit representatives details</a></td>
							<td>No</td>
							<td><a href="https://tools.hmcts.net/jira/browse/SSCS-4891">SSCS-4891</a></td>
							<td><a href="https://tools.hmcts.net/confluence/x/NIH1Pw">UX docs</a></td>
						</tr>



						<tr>
							<td><a href="your-representative">Change representative text message updates</a></td>
							<td>No</td>
							<td><a href="https://tools.hmcts.net/jira/browse/SSCS-4894">SSCS-4894</a></td>
							<td><a href="https://tools.hmcts.net/confluence/x/VIH1Pw">UX docs</a></td>
						</tr>


						<tr>
							<td>Remove representative - TBC</td>
							<td>No</td>
							<td><a href="https://tools.hmcts.net/jira/browse/SSCS-4893">SSCS-4893</a></td>
							<td><a href="https://tools.hmcts.net/confluence/x/ToH1Pw">UX docs</a></td>
						</tr>

					</table>

					<br/>

					<h3 class="heading-medium">Hearing</h3>

					<table>
						<col width="540">
						<col width="60">
						<col width="140">
						<col width="140">
						<tr>
							<th class="bold font-xsmall">Prototype</th>
							<th class="bold font-xsmall">MVP</th>
							<th class="bold font-xsmall">JIRA</th>
							<th class="bold font-xsmall">Confluence</th>


						</tr>

						</tr>
						<tr>
							<td><a href="email-hearing-reminder-1wk-mvp">Change to not attending the hearing</a></td>
							<td>No</td>
							<td><a href="https://tools.hmcts.net/jira/browse/SSCS-4871">SSCS-4871</a></td>
							<td><a href="https://tools.hmcts.net/confluence/x/GAGJP">UX docs</a></td>
						</tr>

						<tr>
							<td><a href="appeal-hearing-not-attending#hearing">
							Change to attending the hearing</a></td>
							<td>No</td>
							<td><a href="https://tools.hmcts.net/jira/browse/SSCS-4871">SSCS-4871</a></td>
							<td><a href="https://tools.hmcts.net/confluence/x/GAGJP">UX docs</a></td>
						</tr>

						<tr>
							<td><a href="appeal-manage-received#hearing">Change hearing availability</a></td>
							<td>No</td>
							<td><a href="https://tools.hmcts.net/jira/browse/SSCS-4875">SSCS-4875</a></td>
							<td><a href="https://tools.hmcts.net/confluence/x/ZQGJP">UX docs</a></td>
						</tr>

						<tr>
							<td><a href="appeal-manage-received#hearing">Change hearing arrangments</a></td>
							<td>No</td>
							<td><a href="https://tools.hmcts.net/jira/browse/SSCS-4874">SSCS-4874</a></td>
							<td><a href="https://tools.hmcts.net/confluence/x/XwGJP">UX docs</a></td>
						</tr>

						<tr>
							<td>Change of venue request (Proposed)</td>
							<td>No</td>
							<td><a href="https://tools.hmcts.net/jira/browse/SSCS-4873">SSCS-4873</a></td>
							
							<td><a href="https://tools.hmcts.net/confluence/display/SSCS/Change+hearing+venue+request++%7C++MYA++%7C++Design">UX docs</a></td>
						</tr>

						<tr>
							<td><a href="email-hearing-reminder-1wk-mvp">Postpone hearing</a></td>
							<td>No</td>
							<td><a href="https://tools.hmcts.net/jira/browse/SSCS-4870">SSCS-4870</a></td>
							<td><a href="https://tools.hmcts.net/confluence/display/SSCS/Postponement+request++%7C++MYA++%7C++Design">UX docs</a></td>
						</tr>

					</table>

					<br/>

					<h3 class="heading-medium">Hearing < 2 weeks</h3>
					<table>
						<col width="540">
						<col width="60">
						<col width="140">
						<col width="140">
						<tr>
							<th class="bold font-xsmall">Prototype</th>
							<th class="bold font-xsmall">MVP</th>
							<th class="bold font-xsmall">JIRA</th>
							<th class="bold font-xsmall">Confluence</th>


						</tr>
						<tr>
							<td><a href="appeal-hearing#hearing">Change hearing arrangments (Contact)</a></td>
							<td>No</td>
							<td><a href="https://tools.hmcts.net/jira/browse/SSCS-4874">SSCS-4874</a></td>
							<td><a href="https://tools.hmcts.net/confluence/display/SSCS/Hearing+arrangements+update++%7C++MYA++%7C++Design">UX docs</a></td>
						</tr>

					</table>

					<br/>

					<h3 class="heading-medium">Withdrawn</h3>
					<table>
						<col width="540">
						<col width="60">
						<col width="140">
						<col width="140">
						<tr>
							<th class="bold font-xsmall">Prototype</th>
							<th class="bold font-xsmall">MVP</th>
							<th class="bold font-xsmall">JIRA</th>
							<th class="bold font-xsmall">Confluence</th>
						</tr>
						<tr>
							<td><a href="appeal-manage-received">Withdrawn</a></td>
							<td>TBC</td>
							<td><a href="https://tools.hmcts.net/jira/browse/SSCS-4879">SSCS-4879</a></td>
							<td><a href="https://tools.hmcts.net/confluence/display/SSCS/Withdraw+an+appeal++%7C++MYA++%7C++Design">UX docs</a></td>
						</tr>

					</table>

					<br/>

										<h3 class="heading-medium">MVP examples screens</h3>
					<table>
						<col width="540">
						<col width="60">
						<col width="140">
						<col width="140">
						<tr>
							<th class="bold font-xsmall">Prototype</th>
							<th class="bold font-xsmall">MVP</th>
							<th class="bold font-xsmall">JIRA</th>
							<th class="bold font-xsmall">Confluence</th>
						</tr>
						<tr>
							<td><a href="appeal-hearing-mvp">MYA dashboard - hearing booked</a></td>
							<td>Yes</td>
							<td></td>
							<td></td>
						</tr>

					</table>


				</div>
			</div>
		</main>
		{% endblock %}