{% extends "layout.html" %}
{% block page_title %}
Benefit appeal evidence - GOV.UK
{% endblock %}
{% block content %}
<main id="content" role="main">
 {% include "includes/phase_banner_beta.html" %}
  {% include "includes/account-nav.html" %} 
   
 <div class="grid-row" id="top">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">
      Service guide: appeal a benefit decision
    </h1>
  </div>
</div>
<div class="grid-row">
  <div class="column-two-thirds">
   <ul class="list list-bullet">
<li><a href="#evidence">Evidence to support your appeal</a></li> 
<li><a href="#hearing">What happens at your hearing</a></li>
<li><a href="#expenses">Claiming expenses to attend your hearing</a></li> 
<li><a href="#rep">Representatives</a></li>
<li><a href="#managing">Managing your appeal online</a></li> 
<li><a href="#staying-updated">Staying updated </a></li>
<li><a href="#withdraw">Withdrawing your appeal</a></li>  
</ul> 


<hr/>
<div id="evidence">
    <h2 class="heading-medium">Evidence to support your appeal</h2>
 <p>Evidence is any information that supports your appeal, such as a letter, written statement or medical report. It all helps the tribunal understand the facts of your appeal.</p>

    <p>You should provide evidence as soon as you can, if you have any. This is so the tribunal have time to consider it before making a decision on your benefit appeal. </p>

    <p>You can provide evidence online or by post. Find out more about how to provide it at the bottom of this section.</p>
    <h2 class="heading-small">Medical evidence </h2>
    <p>This type of evidence helps the tribunal understand your condition from the perspective of a medical professional. For example, letters you have from your hospital consultant, doctor, physiotherapist or social worker. A useful letter explains how your condition affects your life at the time of the decision by DWP. Appointment letters are not useful. </p>

    <p>If you don’t have any letters and you think one will help your appeal, you could ask the medical professional who has been treating your condition to write one. Please be aware they may charge you for this and they can take a long time to organise. The tribunal can’t pay for these. </p>

    <h2 class="heading-small">Written statement</h2>  
    <p>Someone who lives with you or knows you well could write a statement. A useful statement describes how your condition affects your life and includes the types of activities you can and can’t do. It should be their own view. </p>

    <p>It can written by hand or on a computer but it should be signed by the person who wrote it. It should also say what their relationship is to you. </p>

    <h2 class="heading-small">Photographic evidence</h2> 
    <p>A useful photo will show how your condition affects your life, for example you could take a picture of any aids you use to help you move. Don’t send in photos of your body. </p>

    <h2 class="heading-small">Oral evidence </h2>
    <p>What you or anyone else says at a hearing (if you have one) is called ‘oral evidence’. The tribunal will use what is said to help them make a decision on your appeal. 
    </p>

    <p>If you have a hearing then you could invite someone who knows you well to come and tell the tribunal about your condition. You should check that they are willing to come and they are available on the day.</p>

    <h2 class="heading-small">How to provide evidence to the tribunal</h2>
    
      <p>You can provide evidence to the tribunal by:
</p>

<ul class="list list-bullet">
<li>writing a message online</li> 
<li>uploading files, documents or photos </li> 
<li>sending it by post</li> 
</ul> 

<p><a href="evidence-options">Provide evidence to the tribunal</a></p>


<p><a href="#top">Back to top</a></p>
</div>
<hr/>
<div id="hearing">
<h2 class="heading-medium">What happens at your hearing</h2>
<p>Your hearing is an opportunity to explain your benefit appeal. An independent panel of people will consider everything you tell them and make an impartial decision on your appeal. The tribunal panel are independent from the Department for Work and Pensions (DWP).</p>
       <img src="/public/images/hearing-formal-2panel.png" width=100%>
        <p>An ESA hearing with a judge and a medical expert. There will also be a disability expert present in PIP hearings. </p>
        <h3 class="heading-small">When you arrive </h3>
        <p>You’ll be greeted by a tribunal clerk. They’ll take care of you at the hearing venue and answer any questions you have. You should arrive at least 15 minutes before your hearing is due to start.</p>
        <h3 class="heading-small">The hearing room </h3>
        <p>The tribunal clerk will take you into the hearing room. The tribunal panel will be sat behind a table. You’ll be invited to sit opposite them. If you have someone to support you or to give evidence, they’ll sit next to you.</p>
        <h3 class="heading-small">The people at your hearing </h3>
        <p>The tribunal panel is made up of 2 or 3 people who’ll make a decision on your appeal. A judge and a medical expert are present in Employment and Support Allowance (ESA) hearings. There will also be a disability expert in Personal Independence Payment (PIP) appeals. They are all independent from DWP.</p>
        <h3 class="heading-small">DWP </h3>
        <p>A representative from DWP might be there. They are not part of the tribunal panel and are there to speak on behalf of  DWP. They won’t be the person who made the decision about your entitlement to benefits.</p>
        <h3 class="heading-small">During your hearing </h3>
        <p>The tribunal panel members will ask you some straightforward questions. They’re trying to understand how your condition affects your life. This is your opportunity to explain your side of the appeal. They will listen to everything you tell them.  </p>
        <p>Sometimes the tribunal panel will need more evidence to help them make a decision. It’s important that you submit all your evidence well before the hearing so they have time to review it. Otherwise they may have to postpone the hearing to a different day. </p>
        <h3 class="heading-small">Getting a decision</h3>
        <p>After you’ve answered all the questions you’ll be asked to wait outside while the tribunal panel discusses your appeal. You’ll then be asked back into the room to be told the decision.</p>
        <p>The judge will explain whether you’re entitled to the benefit you are appealing for, and if so, at what level.  </p>
        <p>Sometimes the tribunal may need more time to make a decision. If that happens the decision about your appeal will be posted to you.</p>
        <p>The whole hearing usually lasts about an hour.</p>

        <p><a href="#top">Back to top</a></p>
      </div>


<hr/>
<div id="expenses">
        <h2 class="heading-medium">Claiming expenses to attend your hearing </h2>
<p>You may be able to claim back some of the money you spend on attending your hearing.</p>
    <p>You should use public transport where possible. Keep your travel tickets and bring them with you to your hearing. You’ll be given a claim form to fill out by the tribunal clerk.</p>
    <p>If you have a health condition or disability which means you can’t get yourself to the hearing then you might be able to claim for a taxi. You’ll need to get authorisation first by phoning 0300 123 1142.</p>

<p><a href="#top">Back to top</a></p>

<hr/>
<div id="rep">
        <h2 class="heading-medium">Representatives</h2>
<p>You can appoint someone as a ‘representative’ to help you with your benefit appeal. </p>

<p>A representative can:</p>

<ul class="list list-bullet">
<li>help you submit your appeal or prepare evidence</li>
<li>act on your behalf during the appeal (they should ask your permission first)</li> 
<li>give you advice</li>
</ul>

<p>Anyone can be a representative, including friends and family. A good representative will know about the benefits system and can advise you on the law. </p>

<p>You can find representatives at your local advice centre, law centre or <a href="https://www.citizensadvice.org.uk/">Citizens Advice.</a></p>

 <h3 class="heading-small">Registering a representative </h3>
<p>If you have someone who you would like to be your representative then you can <a href="your-representative-register">register them here</a>.</p>

<p><a href="#top">Back to top</a></p>
 <hr/>
<div id="managing">
<h2 class="heading-medium">Managing your appeal online</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit, purus at dapibus scelerisque, leo ligula venenatis dolor, ac lacinia metus elit ac metus. </p>

<h3 class="heading-small">Small heading </h3>
<p>Proin sed pellentesque sapien, non hendrerit ligula. Vestibulum finibus condimentum rutrum. Donec sit amet diam quis est mattis ullamcorper non id erat. </p>

<h3 class="heading-small">Small heading </h3>
<p>Suspendisse nec purus in tortor aliquet euismod eget in massa. Vestibulum ut nulla sagittis, commodo libero vitae, molestie turpis. Suspendisse tristique nisl sit amet lacus iaculis, vel viverra massa vestibulum. Morbi lacinia, nibh vel ullamcorper molestie, diam lacus euismod nisi, accumsan viverra quam sapien et mi. </p>

<p><a href="#top">Back to top</a></p>


 <hr/>
<div id="staying-updated">
<h2 class="heading-medium">Staying updated</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit, purus at dapibus scelerisque, leo ligula venenatis dolor, ac lacinia metus elit ac metus. </p>

<h3 class="heading-small">Small heading </h3>
<p>Proin sed pellentesque sapien, non hendrerit ligula. Vestibulum finibus condimentum rutrum. Donec sit amet diam quis est mattis ullamcorper non id erat. </p>

<h3 class="heading-small">Small heading </h3>
<p>Suspendisse nec purus in tortor aliquet euismod eget in massa. Vestibulum ut nulla sagittis, commodo libero vitae, molestie turpis. Suspendisse tristique nisl sit amet lacus iaculis, vel viverra massa vestibulum. Morbi lacinia, nibh vel ullamcorper molestie, diam lacus euismod nisi, accumsan viverra quam sapien et mi. </p>
<p><a href="#top">Back to top</a></p>
 <hr/>
<div id="withdraw">
<h2 class="heading-medium">Withdrawing your appeal </h2>

<p>You can withdraw your appeal at any time. DWP will be notified that you no longer want to appeal against their decision and the hearing for your appeal will be cancelled, if one has been arranged. </p>

<p>You need to provide reasons if you want to withdraw your appeal. These might be reviewed by a judge. Sometimes the judge may decide that your appeal should go ahead.</p>

<p>If you decided you do not want to continue with your appeal then you should <a href="withdraw-appeal-sure">tell the tribunal</a> as soon as possible. This is so the tribunal can stop working on it.</p> 

<br/><br/>
<p><a href="#top">Back to top</a></p>
<br/>
 <!-- Two thirds -->
<div class="grid-row">
  <div class="column-two-thirds">
    <div class="updates-border"></div>
    <h4 class="heading-small">Help and support</h4>
    <ul class="list">
      <li><a href="service-guide">Service guide</a></li>
      <li><a href="service-guide#rep">Your representative</a></li>
      <li>{% include "includes/help-contact-full.html" %}</li>
    </ul> 

  </div>
</div>
</main>
{% endblock %}