{% extends "layout.html" %}
{% block page_title %}
Representatives - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">
 {% include "includes/phase_banner_beta.html" %}
  {% include "includes/account-nav.html" %} 
               <a id="back-to-tasks" class="link-back" href="">Back</a>        

 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">
      Representatives 
    </h1>

   </div></div>

   <div class="grid-row">
  <div class="column-two-thirds">
    <p class="lede">You can appoint someone as a ‘representative’ to help you with your benefit appeal, if you think you will not be able to manage the appeal by yourself. 
</p>

<p>A representative can:</p>

<ul class="list list-bullet">
<li>give you advice in relation to your appeal</li>  
<li>help you submit your appeal or prepare evidence</li> 
<li>act on your behalf during the appeal (they should ask your permission first)</li>
</ul>

<p>Anyone can be a representative, including friends and family. A good representative will know about the benefits system and can advise you on the law.</p>

<p>You can get a representative at your local advice centre, law centre or <a href="https://www.citizensadvice.org.uk/">Citizens Advice.</a> You will need to register them with the tribunal.</p>

 <h3 class="heading-small">Registering a representative </h3>
<p>You can register someone as your representative by phoning the tribunal: </p>
<p>England and Wales: 0300 123 1142<br/>
Scotland: 0141 354 8400<br/>
<p>Have your representative's name and address ready before you call. If you want them to receive updates on your appeal then you will also need to provide their email address and phone number. </p>
  
<br/>
</div>

<div class="column-third">
      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-small" id="subsection-title">Related guidance</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">

  <li><a href="support-evidence">Providing evidence to support your appeal</a></li>
  <li><a href="support-hearing">What to expect at your hearing</a></li>
  <li><a href="support-hearing-expenses">Claiming hearing expenses</a></li>
  <li><a href="support-withdraw-appeal">Withdrawing your appeal</a></li>    
         </ul>
     </nav>
 </aside>

 </div>

</div>
 {% include "includes/help-contact-full.html" %}


</main>



{% endblock %}