{% extends "layout.html" %}
{% block page_title %}
Register a representative - Your benefit appeal
{% endblock %}
{% block content %}
<main id="content"  role="main">
 {% include "includes/phase_banner_beta.html" %}
  {% include "includes/account-nav.html" %}  

 <div class="grid-row">
  <div class="column-full">
    <h1 class="heading-large">
      Representative  
    </h1>

   <p> Registering someone as your representative means they can: </p>

<ul class="list list-bullet">
<li>receive information Related guidance</li>
<li>submit evidence (and see any that’s submitted)</li>
<li>act on your behalf during your appeal</li>
</ul>

      
          <a class="button" href="your-representatives-details">Continue</a>
          <a class="link-secondary" href="service-guide">Cancel</a> 
    
      <br/><br/><br/>
<!-- Two thirds -->
<div class="grid-row">
  <div class="column-two-thirds">
    <div class="updates-border"></div>
    <h4 class="heading-small">Help and support</h4>
    <ul class="list">
      <li><a href="service-guide">Service guide</a></li>
      <li><a href="service-guide#rep">Your representative</a></li>
      <li>{% include "includes/help-contact-full.html" %}</li>
    </ul> 
  </div>
</div>
</main>

{% endblock %}