{% extends "layout.html" %}
{% block page_title %}
Check change check
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/account-nav.html" %}
  <a id="back-to-tasks" class="link-back" href="">Back</a>
  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="/mya-004/your-contact-phone-new" method="post" class="form">
        <div class="form-group">
          <fieldset>
            <legend>
              <h1 class="heading-large">Do you want to update your contact number?</h1>
            </legend>
            <p>You have only updated the number you want to receive text messages to. Do you also want to update your contact number? This is the number we will phone you on, if we need to speak to you.</p>


            <div class="multiple-choice">
              <input id="radio-1" type="radio" name="radio-group" value="yescontactnew">
              <label for="radio-1">Yes, update my contact number</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-2" type="radio" name="radio-group" value="nocontactnew">
              <label for="radio-2">No, do not update my contact number</label>
            </div>
            
          </fieldset>
        </div>
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
          
         
        </div>
      </form>
<!-- Two thirds -->
<br/>
<div class="grid-row">
 
  <div class="column-two-thirds">
    <div class="updates-border"></div>
    <h4 class="heading-small">Help and support</h4>
    <ul class="list">
      <li><a href="service-guide">Service guide</a></li>
      <li><a href="service-guide#rep">Your representative</a></li>
      <li>{% include "includes/help-contact-full.html" %}</li>
    </ul> 
  </div>
</div>
</main>

{% endblock %}
