{% extends "layout.html" %}
{% block page_title %}
Hearing date change requested
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/account-nav.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a id="back-to-tasks" class="link-back" href="">Back</a>
      <h1 class="heading-large">
        Your request has been received  
      </h1>
      <p class="body-text">            
<p>Your request to change your hearing date has been received. You will be notified by email within 7 days to let you know whether your request has been granted.</p> 

<p>If it is very close to the hearing date then the judge may decide on the day whether to have the hearing without you. </p>


          <p>  <a href="appeal-hearing-date-change-requested#hearing" class="button">Continue</a></p>


<!-- Two thirds -->
<br/>
<div class="grid-row">
 
  <div class="column-two-thirds">
    <div class="updates-border"></div>
    <h4 class="heading-small">Help and support</h4>
    <ul class="list">
      <li><a href="service-guide">Service guide</a></li>
      <li><a href="#">Representatives</a></li>
      <li>{% include "includes/help-contact-full.html" %}</li>
    </ul> 
  </div>
</div>
</main>

{% endblock %}
