{% extends "layout.html" %}
{% block page_title %}
Hearing type change confirmed - GOV.UK
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
        <fieldset class="form-group">
            <h1 class="heading-large">
              You have chosen not to attend your hearing
            </h1>
       <p>You will receive a letter with the tribunal’s decision on your appeal, after your hearing has taken place. If you already had a hearing booked then it will not necessarily happen on that day.</p>
               <a href="appeal-hearing-not-attending#hearing" class="button">Continue</a>

 <br/><br/><br/>
    <div class="updates-border"></div>
    <h4 class="heading-small">Help and support</h4>
    <ul class="list">
      <li><a href="service-guide">Service guide</a></li>
      <li><a href="service-guide#rep">Representatives</a></li>
      <li>{% include "includes/help-contact-full.html" %}</li>
    </ul> 
  </div>
</div>
</main>

{% endblock %}


