 {% extends "layout.html" %}
 {% block page_title %}
 Your address - Your benefit appeal
 {% endblock %}
 {% block content %}
 <main id="content"  role="main">
   {% include "includes/phase_banner_beta.html" %}
   {% include "includes/account-nav.html" %} 
<a id="back-to-tasks" class="link-back" href="#">Back</a>
   <div class="grid-row">
    <div class="column-two-thirds">
    <label>  <h1 class="heading-large">
        Enter representative's mobile phone number
      </h1>
     </label>

      <form>


        <input class="form-control form-control-1-4" id="form-control-3-4" type="text" >
       </div>

    </form>
  </div>
</div>
<br/>
      <div class="grid-row">
        <div class="column-one-quarter">
          <a class="button" href="your-representative-text-message-updates-different">Continue</a>
     
        </div>
      </div>

        </div>            
      </div><br/><br/>
<!-- Two thirds -->
<div class="grid-row">
  <div class="column-two-thirds">
    <div class="updates-border"></div>
    <h4 class="heading-small">Help and support</h4>
    <ul class="list">
      <li><a href="service-guide">Service guide</a></li>
      <li><a href="service-guide#rep">Representatives</a></li>
      <li>{% include "includes/help-contact-full.html" %}</li>
    </ul> 
  </div>
</div>
</main>

{% endblock %}