{% extends "govuk_template_unbranded.html" %}

{% block head %}
<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}
{% block page_title %}
Evidence received (PHED1-E)
{% endblock %}


{% block content %}
<main id="content" role="main" >
	
	<p style="padding-top: 30px; font-size: 16px;">
		<strong style="font-weight: bold;">Subject: </strong>Your PIP benefit appeal: evidence received<br/>
		<strong style="font-weight: bold;">From: </strong>PIP Benefit Appeals (pipappeals@justice.gov.uk)<br/>
	<!--	<strong style="font-weight: bold;">Date: </strong>14/02/2018 <br/>
	</p> -->
<div class="email-border">
		<div style="margin-bottom: 15px;"> <img src="/public/images/notify-email-header.png" alt="GOV.UK"></div>
		<div class="email-margin">
			<div style="padding: 60px 0 80px 0px;"> <img src="/public/images/hmcts-logo.png" alt="Her Majesty's Court and Tribunal Service logo"></div>

			<div class="panel panel-border-wide">
				<p>Appeal reference number: SC242/16/03435</p>
			</div>
			<br/>
			<p>Dear Manish Sharma</p> 
			<p>The information you submitted to support your PIP appeal has been received. It will be considered by the tribunal panel as part of your appeal.</p> 

<p>You will receive a copy of the evidence you sent in the post. You should add this to the rest of your appeal documents.   
</p>
		
			<p>PIP Benefit Appeals<br/>
				HM Courts & Tribunals Service<br/>
				Telephone: 0300 123 1142<br/>
			</p>
			
		</div>
		
  </div> 
  <div style="margin-top: 80px; font-size: 14px;">
    <p><a href="index">Index</a></p> 
	</main>
	{% endblock %}
