{% extends "layout.html" %}
{% block page_title %}
Submit evidence confirmed
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        You need to provide your hearing requirements
      </h1>
      <p class="body-text">You now have until [date] to answer the questions. </p>
      <p>The tribunal will review your answers if you submit them all before then.
      </p>
      <a href="task-list-q3-comp">Return to questions</a>
      {% include "includes/help-contact.html" %}
    </div>
  </div>
</main>
{% endblock %}
