{% extends "layout.html" %}
{% block page_title %}
Hearing request approved
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="task-list">Back</a>
      <h1 class="heading-large">
        Hearing booking journey from SYA 
      </h1>
      <p class="body-text">
      Journey to be added 
</p>

{% include "includes/help-contact.html" %}
    </div>
  </div>

<div style="margin-top: 80px; font-size: 14px;">
      <p><a href="index">Index</a></p>
    </div> 
    
</main>
{% endblock %}
