{% extends "layout.html" %}
{% block page_title %}
Decision not improving final
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a id="back-to-tasks" class="link-back" href="/s6pi11/task-list">Back</a>
      
            <h1 class="heading-large">
              Your decision
            </h1>

          <p class="body-text">Based on the established facts of your appeal, it’s our decision that you are eligible for Personal Independence Payment (PIP) at the following rate: </p>
          <ul class="list list-bullet">
            <li>Daily living - Standard rate</li>
            <li>Mobillity - No award </li>
          </ul>
          <p>Back Payments are due at the above rate from 3 March 2017 </p>
          <h2 class="heading-medium">The reasons for our decision </h2>
          <p>We reached the decision through considering the evidence submitted in relation to your back pain. Specifically the letter your doctor wrote about the painkillers he has prescribed you for your back pain. </p>
          <p>While we acknowledge you suffer pain doing some activities, it’s our view that it does not hinder your ability to the degree necessary to change your entitlement to the enhanced rate of daily living. Likewise, we saw no evidence that you suffer pain while walking or that you avoid journeys so it’s our view you do not score any points in the Mobility component. </p>
      
        <a href="#"> See full list of descriptors and points </a>
        <h2 class="heading-medium">What happens next </h2>
        <p>CONTENT TO BE CONFIRMED</p>
    
<div style="margin-top: 80px; font-size: 14px;">
      <p><a href="index">Index</a></p>
    </div> 
</div>
</div>
{% include "includes/help-contact.html" %}
</main>
{% endblock %}
