{% extends "layout.html" %}
{% block page_title %}
Evidence - statement submitted
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
         <a id="back-to-tasks" class="link-back" href="">Back to the history of your appeal</a>
  <div class="grid-row">
    <div class="column-two-thirds">
     
      <h1 class="heading-large">
        Your comments on the DWP response
      </h1>
      <p><span class="bold-small">Submitted:</span> 00 Month 2017</p>
      <div class="appellants-answer">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</div>
<br/>
      </div>
    </div>
{% include "includes/help-contact.html" %}
  </main>
  {% endblock %}
