{% extends "layout.html" %}
{% block page_title %}
COR prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
	<div class="grid-row">
		<div class="column-full">
			<h1 class="heading-xlarge">Online hearing
				<span class="heading-secondary">Prototype</span></h1>

<p>Usability testing 26 July 2018, London.</p>

				<h2 class="heading-medium">Notifications</h2>
				<p>Emails triggering the user to return to online hearing</p>

		<ol class="list list-number">
			<li><a href="online-hearing/email-dwp-response">DWP response</a></li>
			<li><a href="online-hearing/email-invite">Invite to come online</a></li>
			<li><a href="online-hearing/email-message">Message posted</a></li>
		<!--	<li><a href="online-hearing/email-pre-view">Preliminary decision</a></li>
			<li><a href="online-hearing/email-decision">Decision</a></li>
			<li><a href="online-hearing/email-hearing-offer">Hearing offer</a></li>-->

		</ol>
<h2 class="heading-medium">Videos</h2>
		<ol class="list list-number">
			<li><a href="online-hearing/video-welcome">Welcome</a></li>
			<li><a href="online-hearing/video-decision">Decision</a></li>
		</ol>
				</div>
		</div>	
</main>
{% endblock %}
