{% extends "layout.html" %}
{% block page_title %}
Manage your appeal - Tribunal review
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        Your PIP benefit appeal
      </h1>
      <div class="details">
        <h2 class="heading-medium">Manish Sharma</h2>
        <h2 >Appeal reference:  SC242/16/03435  </h2>
        <!--<h2>Representative: <a href="">None registered</a></h2>-->
      </div>
      <div class="divider"></div>
      <br/>
      <!-- JS will add .tabs class -->
      <div class="js-tabs"> 
        <ul class="list list-bullet">
          <li><a class="tabs__link" href="#status">Status</a></li>
          <li><a class="tabs__link" href="#questions">Provide information</a></li>
          <li><a class="tabs__link" href="#hearing">Hearing</a></li>
          <li><a class="tabs__link" href="#history">History</a></li>
        </ul>
        <!-- Status -->
        <div id="status" class="tab-content">
          <h2 class="heading-medium">Status of your appeal</h2>
          <div style="padding: 20px 20px 120px 10px;"><img src="/public/images/cor-progress-bar-received.svg"></div>
          <div class="panel-blue">
           <h2 class="heading-small">Latest update</h2>
           <p>DWP now have to respond to your appeal by 11 April 2019. You’ll get another email explaining what happens next, after they’ve responded.
           </p>
           
         </div>
         <br/>
       </div>
       <!-- Provide information -->
       <div id="questions" class="tab-content">
        <h2 class="heading-medium">Provide information to the tribunal</h2>
        
        <p>The tribunal do not need any information from you at the moment. You will receive an email if they need you to provide anything.</p> 
        
        <h2 class="heading-small">Providing additional evidence</h2> 
        <p>If you have any additional evidence that you want the tribunal to consider as part of your appeal, then you can <a  href="evidence-options">submit it here</a>. </p>
        
      </div>

     <!-- Hearing -->
     <div id="hearing" class="tab-content">
      <h2 class="heading-medium">The hearing for your appeal</h2>
<br/>
<p><a href="about-hearing">Find out what a tribunal hearing is like</a> </p>
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Date<br/>
            Time
          </dt>
          <dd class="cya-answer">
            16 September 2019<br/>
            10:00am
          </dd>
          <dd class="cya-change">
        <a href="hearing-date-change-sure">
          Request change<span class="visually-hidden"> date and time</span>
        </a>
      </dd>
    </div>

    

    <div>
      <dt class="cya-question">
        Location
      </dt>
      <dd class="cya-answer">
       Fox Court<br/>
       14 Gray’s Inn Road<br/>
       EC1N 7WS<br/>
       <a class="maps-and-directions" href="https://www.google.com/maps/dir/Current+Location/Fox+Court,115+14+Grays+Inn+Road,+London+EC1N+7WS,+UK">Maps and directions</a>
     </dd>
     <dd class="cya-change">
        
          Change requested<span class="visually-hidden"> venue</span>
      
      </dd>
    </div>

  </dl>



<!-- The hearing arrangements -->
<br/>
   <h2 class="heading-small">Hearing arrangements</h2>
<dl class="govuk-check-your-answers cya-questions-short">
  <div>

    <dt class="cya-question">
      <p class="pbold">Language interpreter</p>
      <p class="pbold">Sign interpreter</p>
      <p class="pbold">Hearing loop</p>
      <p class="pbold">Disabled access</p>
      <p class="pbold">Any other arrangements</p>
    </dt>
    <dd class="cya-answer">
      <p>Not required<br/><br/></p>
      <p>Not required</p>
      <p>Required</p>
      <p>Required</p>
      <p>Not required</p>
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> hearing arrangements</span>
      </a>
    </dd>
  </div>
</dl>

<br/><br/>
</div>

<!-- History -->
<div id="history" class="tab-content">
  <h2 class="heading-medium">History of your appeal</h2>
  <table>


    <tr>
      <td><a href="">Change of hearing location requested</a></td>
      <td class="date">21 June 2019</td>
    </tr>
    <tr>
      <td><a href="">Attending hearing</a></td>
      <td class="date">14 March 2019</td>
    </tr>
    <tr>
      <td><a href="appeal-summary">Appeal submitted</a></td>
      <td class="date">7 March 2019</td>
    </tr>
  </tbody>
</table>
<br/>
<br/>
</div>
</div>
<div class="updates-border"></div>
</div>
</div>
<!-- Two thirds -->
<div class="grid-row">
 
  <div class="column-two-thirds">
    <h4 class="heading-small">Help and support</h4>
    <ul class="list">
      <li><a href="#">Service guide</a></li>
      <!--<li><a href="#">Representatives</a></li>-->
      <li><a href="contact-us">Contact us</a></li>
    </ul> 
  </div>
</div>
</main>
  <a href="email-hearing-location-change-accepted.html">Accepted email</a>

{% endblock %}