{% extends "layout.html" %}
{% block page_title %}
Tribunals view
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
        <a class="link-back" href="appeal-view">Back to Your PIP benefit appeal</a>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
       The tribunal’s view on your appeal
     </h1>
    <div class="details">
      <h2 class="heading-medium">Manish Sharma</h2>
      <h2>Appeal reference:  SC242/16/03435  </h2>
      </div>
      <div class="divider"></div>
      <br/>
 <div class="panel-blue">
  <p >The tribunal have considered all the information submitted by you and DWP. </p>
  <p>Their view is that you’re entitled to PIP at the rate below from 3 October 2017 until 3 March 2020.
  </p>
  <table>
    <!-- <caption class="heading-small">Component </caption> -->
    <tbody>
      <tr>
        <td class="bold-small">Daily living</td>
        <td >Standard rate</td>
      </tr>
      <tr>
        <td class="bold-small">Mobility</td>
        <td>No award</td>
      </tr>
    </tbody>
  </table>
  <br/>
  <p>This is the same DWP initially awarded you. </p>
  <p>If both you and DWP accept this view, you’ll be awarded PIP at the above rate. </p>
</div>
<h2 class="heading-medium">The reasons for the tribunal’s view</h2>
<p>We considered all the evidence you and DWP submitted in relation to your appeal. This includes any additional evidence you submitted.</p>

<p>After considering this evidence we acknowledge that you experience pain in your lower back when doing some tasks around the house. Specifically washing yourself and preparing food. We consider that this pain does not hinder you enough to be awarded the enhanced rate of the daily living component of PIP. </p>

<p>You claim that suffer pain while walking and you find it hard to plan a route, but in your written submission you also said you were going regularly to the GPs at the time of DWP’s decision. You also stated that you made your own way there without the assistance of aids. It is therefore our view that you are not eligible for the Mobility aspect of PIP at any rate. 
</p>

</div>
</div>
<div class="grid-row">
  <div class="column-full">
    <details>
      <summary><span class="summary">Activities and the descriptors we consider apply to your appeal</span></summary><div class="panel panel-border-narrow">
      <h2 class="heading-medium">Daily living activities and descriptors the tribunal considers to apply</h2>
<table>
 <thead>
  <tr>
    <th scope="col">Activity</th>
    <th scope="col">Descriptor</th>
    <th scope="col">Points</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Preparing food</td>
    <td>Needs to use an aid or appliance to be able to prepare or cook a simple meal</td>
    <td>2</td>
  </tr>

  <tr>
    <td>Washing and bathing</td>
    <td>Needs to use an aid or appliance to be able to wash or bathe</td>
    <td>2</td>
  </tr>

  <tr>
    <td>Managing toilet needs or incontinence</td>
    <td>Needs to use an aid or appliance to be able to manage my toilet needs or incontinence</td>
    <td>2</td>
  </tr>

  <tr>
    <td>Dressing and undressing</td>
    <td>Needs to use an aid or appliance to be able to dress or undress</td>
    <td>2</td>
  </tr>

</tbody>
</table>
<br/>

<h2 class="heading-medium">Mobility activities and descriptors the tribunal considers to apply</h2>
<table>
 <thead>
  <tr>
    <th scope="col">Activity</th>
    <th scope="col">Descriptor</th>
    <th scope="col">Points</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Planning and following journeys</td>
    <td>Needs prompting to be able to undertake any
journey to avoid overwhelming psychological
distress to the claimant. </td>
    <td>4</td>
  </tr>

  <tr>
    <td>Moving around</td>
    <td>Can stand and then move more than 50 metres
but no more than 200 metres, either aided or
unaided </td>
    <td>4</td>
  </tr>


</tbody>
</table>
  </div>
</div>
<div class="grid-row">
  <div class="column-two-thirds">
    
  </div>
</div>
{% include "includes/help-contact.html" %}
</main>
{% endblock %}
