{% extends "layout.html" %}
{% block page_title %}
Evidence - Statement
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
         <a class="link-back" href="">Back to the history of your appeal</a>
      <form class="form">
        <fieldset class="form-group">
          <legend>
            <h1 class="heading-large">
              Write your statement
            </h1>

            <p>A useful statement describes how your condition affects your life, including the activities you can and can’t do.</p>

          </legend>
          <textarea class="form-control form-control-3-4 autoExpand" name="textarea" id="textarea" rows='6' data-min-rows='6' placeholder="You can write as much as you want "></textarea>
        </fieldset>
        <div class="form-group">
          <div class="form-group">
            <a href="evidence-confirm" class="button">Submit your statement to the tribunal</a>
            <!-- <input class="button" type="submit" value="Submit statement"> -->

          </div>
        </form>
      </div>
    </div>
    {% include "includes/help-contact.html" %}
  </main>
  {% endblock %}
