{% extends "layout.html" %}
{% block page_title %}
Question - Mobility - Round 2
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="appeal-r2">Back to Your PIP benefit appeal</a>
      <form class="form" action="/question-mobility" method="POST">
        <fieldset class="form-group">
          <legend>
            <h1 class="heading-large">
              Your walking stick
            </h1>
          </legend>
          <p class="body-text">
            You said in your previous answer that you use a walking stick. </p>
            <p>Please could you say:</p>
            <ul class="list list-bullet">
              <li>where you got the stick from</li>
              <li>how often you use it </li>
              <li>how far you can walk without it </li>
            </ul>
           <!-- <p>You can upload a picture of the walking stick, if you think it will help. </p> -->
            {% if data['mobilityCompletedOrDraft'] === 'completed' %}
            <div class="appellants-answer">
              <h2 class="bold-small">Your answer</h2>
              {% if data['textareamobility'] %}
              <p>{{ data['textareamobility'] }}</p>
              {% else %}
                       <p>[Answer goes here ]</p>
        <table>
          <thead>
            <tr>
              <th>Evidence</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>[Evidence description goes here]</td>
              <td></td>
            </tr>
          </tbody>
        </table>
        {% endif %}
        <br/>
        <p class="font-small">Submitted: 21 March 2018</p>
      </div>
      {% else %}
      <textarea class="form-control form-control-3-4 autoExpand" name="textareainteracting" id="textarea" placeholder="You can write as much as you want " rows='6'
      data-min-rows='6'>{{ data['textareamobility'] }}</textarea>
      <br/>
            <details>
        <summary><span class="summary">You can record your answer by video or audio</span></summary>
        <div class="panel panel-border-narrow">
        You can record yourself speaking the answer on a mobile phone, laptop or other recording device.</p> 
        <p>The recording should be clear and understandable. You could ask someone to help you by holding the mobile phone while you talk.</p> 
        <p>You can upload the recording by selecting ‘I want to provide additional evidence to support my answer’ below. </p>
      </div>
    </details>
  </fieldset>
  <fieldset class="form-group">
    <div class="multiple-choice" data-target="evidence-upload">
      <input id="evidence" name="nationalities" type="checkbox" value="provide-evidence">
      <label for="evidence">I want to provide evidence to support my answer</label>
    </div>
    <div style="padding-top: 60px:"
    <div class="panel panel-border-narrow js-hidden" id="evidence-upload">
    <p> You can upload evidence to support your answer such as letters, photos, video or audio. If you are taking a picture of a letter, place it on a flat surface and take the picture from above.</p>
     <div class="dropzone" id="upload-widget" tabindex="0">
      <div class="dz-message">
        <div class="dz-message-text"> <span class="button-secondary">Choose file</span></div>
      </div>    
      <div id="something" class="form-group">
        <label class="form-label" for="file-input">Upload a file</label>
        <input name="fileUploaded" type="file" id="file-input" multiple>
      </div>
    </div>
    <h2 class="heading-small" id="uploads">Uploaded files</h2>
    <div class="c-uploads" id="upload-documents" role="upload-documents" role="region" aria-labelledby="uploads" aria-live="polite">
      <div class="c-uploads-item">
        <p class="c-uploads-empty">No files uploaded</p>
      </div>
    </div>
    <br/> <br/>
    <details>
      <summary><span class="summary">You can also post evidence to the tribunal</span></summary>
      <p class="body-text">You can post evidence to the address below.</p>
      <p> Make sure it’s clearly marked with your appeal reference number: <span class="bold">SC242/16/03435</span></p>
      <p>Birmingham ASC<br/>
        HM Courts and Tribunals Service<br/>
        Administrative Support Centre (ASC)<br/>
        P O Box 14620<br/>
        Birmingham<br/>
      B16 6FR</p>
       <p>You'll need to print an <a href="/public/images/evidence-cover-sheet.pdf">evidence cover sheet</a> and send it with your evidence.</p>
      <p>Try to post it as soon as possible to avoid delaying your appeal.</p>
    </details>
  </div> 
</fieldset>
{% endif %}
          <div class="form-group">
            {% if data['mobilityCompletedOrDraft'] !== 'completed' %}
            <a class="button" href="question-mobility-confirm" type="submit" value="Submit to the tribunal">Submit answer to the tribunal</a>
              <input class="save-for-later" type="submit" value="Save for later"> 

            {% endif %}
          </div>
        </form>
         
      </div>
          {% include "includes/help-contact.html" %}

    </div>
  </main>
  {% endblock %}
