{% extends "layout.html" %}
{% block page_title %}
Questions submitted - Round 1
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        You have answered the tribunal’s questions 
      </h1>


<p>You’ve provided the information the tribunal have asked for. They’ll review what you’ve sent and consider it as part of your appeal. </p>

<p>You’ll get another email by  14 November 2018. This will tell you whether the tribunal need any more information from you.</p>


<p><a href="sign-in-1">Exit service</a></p>
                  <a  href="appeal-q1-complete.html">Return to Your benefit appeal</a>
 </div>
  </div>

  {% include "includes/help-contact.html" %}
  <div style="margin-top: 80px; font-size: 14px;">
           <p><a href="email-questions-r2">Questions R2</a></p>


   <!--<p><a href="email-questions-submitted-confirm">Questions submitted confirmation email</a></p>
   <p><a href="appeal-dwp-response-complete">Question list - completed</a></p>-->

 </main>
 {% endblock %}
