{% extends "layout.html" %}
{% block page_title %}
Jearing location change reasons
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
         <a id="back-to-tasks" class="link-back" href="">Back</a>
      <form class="form">
        <fieldset class="form-group">
          <legend>
            <h1 class="heading-large">
             Your change of hearing location request will be considered
            </h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>

 
            <a href="appeal-hearing-location-change-requested" class="button">Continue</a>


          
        </form>
          

      </div>
    </div>
      {% include "includes/help-contact.html" %}
  </main>
  {% endblock %}
