{% extends "layout.html" %}
{% block page_title %}
Hearing date change requested
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a id="back-to-tasks" class="link-back" href="">Back</a>
      <h1 class="heading-large">
        Your request has been received  
      </h1>
      <p class="body-text">
      Your request to change your hearing date has been received. You will be notified by email within 14 to let you know whether your request has been granted. </p> 
            


          <p>  <a href="appeal-hearing-date-change-requested#hearing" class="button">Continue</a></p>


    </div>
  </div>


    {% include "includes/help-contact.html" %}
</main>
{% endblock %}
