{% extends "layout.html" %}
{% block page_title %}
COR prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
	<div class="grid-row">
		<div class="column-full">
			<h1 class="heading-xlarge">Manage your appeal
				<span class="heading-secondary">Prototype</span></h1>

				<strong class="bold">Test date:</strong> 14th March 2019<br/>
				<strong class="bold">Location:</strong> London - Sutherland Labs<br/>
				<strong class="bold">Focus:</strong> Face to face hearing<br/>
				<strong class="bold">Iteration:</strong> 1.0<br/>

				<h2 class="heading-medium">Hearing journeys  </h2>

				<ul class="list list-bullet">
					<li><a href="appeal-hearing-not-attending">Request change of hearing type</a>  (SSCS-4871) </li>
					<li><a href="appeal-hearing-attending">Update hearing requirements </a> (SSCS-4874)</li>
					<li><a href="appeal-hearing-support-change">Update hearing availability - Pre hearing date being booked</a> (SSCS-4875) </li>

					<li><a href="appeal-hearing">Request a change of venue with reasons</a> (SSCS-4873)</li>
					<li><a href="appeal-hearing">Request a postponement</a> (SSCS-4870)</li>

				</ul>

<h2 class="heading-medium">Additional journeys  </h2>

				<ul class="list list-bullet">
					<li><a href="">Save and return - account optional</a></li>
				</ul>

		</div>
	</div>

</main>
{% endblock %}