{% extends "layout.html" %}
{% block page_title %}
Submit evidence confirmed
{% endblock %}
{% block content %}
<main id="content" role="main" ">
  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a target="_black" href="#">feedback</a> will help us to improve it. (opens in a new window)</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <header class="page-heading page-heading-with-context page-heading-without-breadcrumb">
        <a href="#" class="link-back">Back</a>
        <h1 class="heading-large">
          <span class="heading-secondary">Claim number:</span>
          352MC733
        </h1>
        <div id="tabs">
          <div  class="nav-tabs">
            <ul class="tabs-nav">
              <li><a href="#tabs-1">Questions</a></li>
              <li><a href="#tabs-2">Appeal activity</a></li>
            </ul>
          </div>

          <!-- Tabs -->
          <div class="tab-content">

            <!-- Tab1 -->
            <div id="tabs-1" class="tab-pane">

              <h2 class="heading-medium">Your defence is being processed.</h2>
              <p> We will email you to explain what to do next.</p>
             
            </div>
            <div id="tabs-2" class="tab-pane">

              <h2 class="heading-medium">Claim history </h2>
              
              <div class="history-timeline ">
                <div class="history-statement"> <span > 1 October 2017</span>Jan Clark requested a default County Court Judgment (CCJ) against you.
                </div>
                

              </div>
            </div>
          </div>
        </div>
        

        </div>
      </div>
    </div>
  </main>
  {% endblock %}
