{% extends "layout.html" %}
{% block page_title %}
Question - Migraine - Confirm
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        Are you sure? 
      </h1>
      <p>You will not be able to change your answer once you have submitted it to the tribunal.</p>
      <br/>
     <a class="button" href="/questions-submitted-confirm?migraineCompletedOrDraft=completed" type="submit" value="Submit answer">Confirm</a>
      <a href="question-migraine" style="padding-left:30px;">Back to question</a>
      <br/><br/>

     
    </div>
  </div>
</main>
{% endblock %}
