{% extends "layout.html" %}
{% block page_title %}
Hearing location change reasons
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  {% include "includes/account-nav.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
         <a id="back-to-tasks" class="link-back" href="">Back</a>
      <form class="form">
        <fieldset class="form-group">
          <legend>
            <h1 class="heading-large">
             Explain why you want to change the date of your hearing
            </h1>
 <p>Your reasons for wanting to change the date will be reviewed by a judge. They will decide whether your hearing can be moved to a different date. </p>
 <div class="panel panel-border-wide">If it is very close to the date of your hearing then the judge may decide on the day of the hearing whether it can be moved. It may go ahead without you.</div>

<br/>
          </legend>
          <textarea class="form-control form-control-3-4 autoExpand" name="textarea" id="textarea" rows='6' data-min-rows='6'> </textarea>
        </fieldset>
        <div class="form-group">
          <div class="form-group">
            <a href="https://track-your-appeal.herokuapp.com/mya-hearing-02/hearing-type-3/006-hearing-dates-postponement-004" class="button">Continue</a>
            <!-- <input class="button" type="submit" value="Submit statement"> -->

          </div>
        </form>
          <!-- Two thirds -->
<br/>
<div class="grid-row">
 
  <div class="column-two-thirds">
    <div class="updates-border"></div>
    <h4 class="heading-small">Help and support</h4>
    <ul class="list">
      <li><a href="service-guide">Service guide</a></li>
      <li><a href="service-guide#rep">Your representative</a></li>
      <li>{% include "includes/help-contact-full.html" %}</li>
    </ul> 
  </div>
</div>
</main>

{% endblock %}