{% extends "layout.html" %}
{% block page_title %}
COR prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
	<div class="grid-row">
		<div class="column-full">
			<h1 class="heading-xlarge">Manage your appeal
				<span class="heading-secondary">Prototype</span></h1>

				<h2 class="heading-small">Product owner review</h3>
					<p>Date: 5 June 2019</p>

					<h3 class="heading-medium">Access multiple appeals</h3>


					<table>
						<col width="600">
						<col width="150">
						<col width="150">
						<tr>
							<th class="bold font-xsmall">Prototype</th>
							<th class="bold font-xsmall">JIRA</th>
							<th class="bold font-xsmall">Confluence</th>


						</tr>
						<tr>
							<td><a href="access-multiple-appeals-appellant">Appellant</a></td>
							<td><a href="https://tools.hmcts.net/jira/browse/SSCS-4874">SSCS-4874</a></td>
							<td><a href="https://tools.hmcts.net/confluence/x/XwGJP">UX docs</a></td>
						</tr>

						<tr>
							<td><a href="access-multiple-appeals-appellant">Appointee and representative</a></td>
							<td><a href="https://tools.hmcts.net/jira/browse/SSCS-4874">SSCS-4874</a></td>
							<td><a href="https://tools.hmcts.net/confluence/x/XwGJP">UX docs</a></td>
						</tr>

					</table>

					<br/>
					<h3 class="heading-medium">Your details</h3>

					<table>
						<col width="600">
						<col width="150">
						<col width="150">
						<tr>
							<th class="bold font-xsmall">Prototype</th>
							<th class="bold font-xsmall">JIRA</th>
							<th class="bold font-xsmall">Confluence</th>

						</tr>
						<tr>
							<td><a href="email-appeal-lodged">Change your address</a></td>
							<td><a href="https://tools.hmcts.net/jira/browse/SSCS-4874">SSCS-????</a></td>
							<td><a href="https://tools.hmcts.net/confluence/x/XwGJP">UX docs</a></td>
						</tr>

						<tr>
							<td><a href="your-details-address">Change your email address</a></td>
							<td><a href="">SSCS-????</a></td>
							<td><a href="">UX docs</a></td>
						</tr>


						<tr>
							<td><a href="your-details-email">Change your contact phone number</a></td>
							<td><a href="">SSCS-????</a></td>
							<td><a href="">UX docs</a></td>
						</tr>

						<tr>
							<td><a href="your-details-text-message-updates">Change your text message mobile number</a></td>
							<td><a href="">SSCS-????</a></td>
							<td><a href="">UX docs</a></td>
						</tr>

						<tr>
							<td><a href="your-details-contact-phone">Update text message options (turn off)</a></td>
							<td><a href="">SSCS-????</a></td>
							<td><a href="">UX docs</a></td>
						</tr>
					</table>




					<br/>
					<h3 class="heading-medium">Representative</h3>


					<table>
						<col width="600">
						<col width="150">
						<col width="150">
						<tr>
							<th class="bold font-xsmall">Prototype</th>
							<th class="bold font-xsmall">JIRA</th>
							<th class="bold font-xsmall">Confluence</th>


						</tr>
						<tr>
							<td><a href="email-appeal-lodged-rep">Register a representative</a></td>
							<td><a href="">SSCS-????</a></td>
							<td><a href="">UX docs</a></td>
						</tr>

						<tr>
							<td><a href="your-representative">Change representative text message updates</a></td>
							<td><a href="">SSCS-????</a></td>
							<td><a href="">UX docs</a></td>
						</tr>

					</table>

					<br/>

					<h3 class="heading-medium">Hearing</h3>

					<table>
						<col width="600">
						<col width="150">
						<col width="150">
						<tr>
							<th class="bold font-xsmall">Prototype</th>
							<th class="bold font-xsmall">JIRA</th>
							<th class="bold font-xsmall">Confluence</th>

						</tr>
						<tr>
							<td><a href="email-hearing-reminder-1wk-mvp">Change to not attending the hearing</a></td>
							<td><a href="">SSCS-????</a></td>
							<td><a href="">UX docs</a></td>
						</tr>

						<tr>
							<td><a href="appeal-hearing-not-attending#hearing">Change to attending the hearing</a></td>
							<td><a href="">SSCS-????</a></td>
							<td><a href="">UX docs</a></td>
						</tr>

						<tr>
							<td><a href="appeal-manage-received#hearing">Change hearing availability</a></td>
							<td><a href="">SSCS-????</a></td>
							<td><a href="">UX docs</a></td>
						</tr>

						<tr>
							<td><a href="appeal-manage-received#hearing">Change hearing arrangments</a></td>
							<td><a href="">SSCS-????</a></td>
							<td><a href="">UX docs</a></td>
						</tr>

						<tr>
							<td>See proposed journey in UX docs</td>
							<td><a href="">SSCS-????</a></td>
							<td><a href="https://tools.hmcts.net/confluence/x/PQGJP">UX docs</a></td>
						</tr>

						<tr>
							<td><a href="email-hearing-reminder-1wk-mvp">Postpone hearing</a></td>
							<td><a href="">SSCS-????</a></td>
							<td><a href="">UX docs</a></td>
						</tr>

					</table>

					<br/>

					<h3 class="heading-medium">Hearing < 2 weeks</h3>
					<table>
						<col width="600">
						<col width="150">
						<col width="150">
						<tr>
							<th class="bold font-xsmall">Prototype</th>
							<th class="bold font-xsmall">JIRA</th>
							<th class="bold font-xsmall">Confluence</th>


						</tr>
						<tr>
							<td><a href="appeal-hearing#hearing">Change hearing arrangments (Contact)</a></td>
							<td><a href="">SSCS-????</a></td>
							<td><a href="">UX docs</a></td>
						</tr>

						<tr>
							<td><a href="access-multiple-appeals-appellant">Appointee and representative</a></td>
							<td><a href="https://tools.hmcts.net/jira/browse/SSCS-4874">SSCS-????</a></td>
							<td><a href="https://tools.hmcts.net/confluence/x/XwGJP">UX docs</a></td>
						</tr>
					</table>

					<br/>

					<h3 class="heading-medium">Withdrawn</h3>
					<table>
						<col width="600">
						<col width="150">
						<col width="150">
						<tr>
							<th class="bold font-xsmall">Prototype</th>
							<th class="bold font-xsmall">JIRA</th>
							<th class="bold font-xsmall">Confluence</th>
						</tr>
						<tr>
							<td><a href="appeal-manage-received">Withdrawn</a></td>
							<td><a href="">SSCS-????</a></td>
							<td><a href="">UX docs</a></td>
						</tr>

					</table>

					<br/>


				</div>
			</div>
		</main>
		{% endblock %}