 {% extends "layout.html" %}
 {% block page_title %}
 Contact the tribunal - Your benefit appeal
 {% endblock %}
 {% block content %}
 <main id="content"  role="main">
   {% include "includes/phase_banner_beta.html" %}
   {% include "includes/account-nav.html" %} 

   <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        Contact the tribunal 
      </h1>
<p>It’s close to the date for your hearing so you need to phone the tribunal to see whether your changes can be made.  </p>
<h2 class="heading-medium" style="margin-bottom: 0px">Web chat</h2>
<p style="margin-bottom: 0px">Get some help by chatting online to an agent.</p>

<div id="chat-button-container"></div>


<h2 class="heading-medium" style="margin-bottom: 0px">Send us a message</h2>
<p>You’ll get a response by email within 2 working days.
<br/><a href="https://track-your-appeal.herokuapp.com/prototype-beta-190211/web-form" target="_blank">Send message (opens in a new window)</a></p>

<h2 class="heading-medium" style="margin-bottom: 0px">Telephone</h2>
<p>Talk to one of our agents now over the phone.</p>
<h3 class="heading-small">Benefit appeals helpline (England and Wales)</h3>
Telephone: 0300 123 1142<br>
Monday to Friday, 8:30am to 5pm<br>
<p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
<h3 class="heading-small">Benefit appeals helpline (Scotland)</h3>
Telephone: 0300 790 6234<br>
Monday to Friday, 8:30am to 5pm<br>
<p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
</div>


        </div>            
      </div>
    </main>
    {% endblock %}