{% extends "layout.html" %}
{% block page_title %}
Evidence - Comments on DWP response
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
         <a id="back-to-tasks" class="link-back" href="">Back to the history of your appeal</a>
  <div class="grid-row">
    <div class="column-two-thirds">
     
      <h1 class="heading-large">
        Your answers to the tribunals questions
      </h1>
      <p><span class="bold-small">Submitted:</span> 00 Month 2018</p>

 <h2 class="heading-medium">
              Your walking stick
            </h2>
          <p class="body-text">
            You said in your previous answer that you use a walking stick. </p>
            <p>Please could you say:</p>
            <ul class="list list-bullet">
              <li>where you got the stick from</li>
              <li>how often you use it </li>
              <li>how far you can walk without it </li>
            </ul>
      <div class="appellants-answer">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</div>



<br/>
 <a  href="">Back to top</a>
      </div>
    </div>
{% include "includes/help-contact.html" %}
  </main>
  {% endblock %}
