{% extends "layout.html" %}
{% block page_title %}
Hearing required - not attending
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a id="back-to-tasks" class="link-back" href="/s5pi11/task-list">Back</a>
      <h1 class="heading-large">
        The tribunal will decide how to proceed   
      </h1>
      <p class="body-text">You’ll get an email by [date + 2 weeks] with details of how the tribunal want to proceed with your appeal. </p>
      <a href="#">Exit service</a>
    </div>
  </div>
  <div style="margin-top: 80px; font-size: 14px;">
    <p><a href="index">Index</a></p>
  </div> 
  {% include "includes/help-contact.html" %} 
</main>
{% endblock %}
