{% extends "layout.html" %}
{% block page_title %}
Question - Interacting - Confirm
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-medium">
        You will not be able to change your answer after you submit it.  
      </h1>
      <a class="button" href="/s5pi11/appeal-q1?interactingCompletedOrDraft=completed" type="submit" value="Submit answer">Confirm</a><br/><br/>
      <a href="question-interacting" style="padding-left:0px;">Back to question</a>
      <br/><br/>
    </div>
  </div>
  {% include "includes/help-contact.html" %}
</main>
{% endblock %}
