{% extends "layout.html" %}

{% block page_title %}
Provinding evidence 
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">

          <a class="link-back" href="evidenc-upload">Back</a>

          <h1 class="heading-xlarge">
            Providing evidence to support your appeal
        </h1>
        <p class="lede">Evidence is anything that supports your appeal. It could be medical records, letters or documents. What you say at the hearing is also evidence. It all helps the tribunal understand the facts of your appeal. </p>

        <h2 class="heading-medium">Medical evidence </h2>
        
        <p>This is the most important form of evidence. Medical evidence helps the tribunal understand your condition and how it affects your life. </p>
        
        <p>As a patient, you have a right to a copy of your medical records. You’ll need to ask your doctor for them as early as possible in your appeal. Only get records going back 2 years from the time you made your appeal. </p>
        
        <p>You might have other medical evidence which isn’t included in your medical records. For example a letter from a consultant, physiotherapist or mental health worker. Submit these too, if they are relevant to your condition at the time you received your decision from DWP.</p>
        
        <p>You’ll need to send evidence to the tribunal as early as possible. If you submit evidence too close to your hearing, it could be delayed to a different day because there hasn’t been enough time to review it. </p>
        
        <p>Please be aware your doctor or consultant may charge you for your medical records. We can’t reimburse you for this. </p>

            
        <h2 class="heading-medium">Oral evidence</h2>
        <p>What you or anyone else says on your behalf at the hearing is called oral evidence. If you have a carer or someone who supports you in your home, you might want to invite them to come and tell the tribunal about your condition. </p>
        
        <p>You should check the person is willing to talk at your hearing and available on the day. </p>

        <h2 class="heading-medium">Where to send your evidence</h2>
        <p>Post evidence to the following address, clearly marked with your appeal reference number: </p>

        <p>Birmingham ASC<br/>
            HM Courts and Tribunals Service<br/>
            Administrative Support Centre (ASC)<br/>
            P O Box 14620<br/>
            Birmingham<br/>
        B16 6FR</p>


    </div>
</div>
</main>

{% endblock %}
