{% extends "layout.html" %}
{% block page_title %}
Decision positive
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="task-list">Back</a>
      
            <h1 class="heading-large">
              Your decision
            </h1>

          <p class="body-text">Based on the established facts of your appeal, it’s our decision that you are eligible for Personal Independence Payment (PIP) at the following rate: </p>
          <ul class="list list-bullet">
            <li>Daily living - Enhanced rate</li>
            <li>Mobillity - Enhanced rate</li>
          </ul>
          <p>Back Payments are due at the above rate from 3 March 2017 </p>
          <h2 class="heading-medium">The reasons for our decision </h2>


<p>We reached the decision by considering the evidence you submitted in relation to your back pain. Specifically the note your carer wrote about how your back pain affects your ability to do tasks around the house and wash yourself. We felt this was sufficient evidence that you needed support in daily living tasks and you were eligible for enhanced rate in this component. </p>

<p>The letter provided by your doctor showed that in his view, you were unable to walk unaided for over 30 meters. Your carer also said you took measures to avoid short journeys because of the distress they cause you. This gave us reason to award you enhanced rate for the Mobility aspect.</p>
      
        <a href="#"> See full list of descriptors and points </a>
        <h2 class="heading-medium">What happens next </h2>
        <p>We have communicated this decision to DWP. It’s their responsibility to reinstate your PIP benefit payments at the above rate as well as pay you any back payments owed. If you have any questions about your benefits then you should contact them. Their contact details are on any letters or emails you have received from them about the PIP benefit. </p>

<p>Your appeal is now finished. </p>
    
<div style="margin-top: 80px; font-size: 14px;">
      <p><a href="index">Index</a></p>
    </div> 
</div>
</div>
</main>
{% endblock %}






 




