{% extends "layout.html" %}
{% block page_title %}
Decision not improving
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="task-list">Back</a>
      <h1 class="heading-large">
        Your decision
      </h1>
      <p class="body-text">Based on the established facts of your appeal, it’s our decision that you are eligible for Personal Independence Payment (PIP) at the following rate:</p>
      <ul class="list list-bullet">
        <li>Daily living - Standard rate</li>
        <li>Mobillity - No award </li>
      </ul>
      <p>This is more than the DWP initially decided you were entitled to so you have won your appeal. Back payments of the PIP benefit are due from 12 March 2017 at the above rate.</p>
      <h2 class="heading-medium">How we made our decision</h2>
      <p>We reached the decision by considering all the evidence you and DWP submitted in relation to your appeal. This included the additional evidence you submitted, including:</p>
      <ul class="list list-bullet">
        <li>letter from your doctor</li>
        <li>letter from your carer </li>
        <li>written statement from yourself </li>
      </ul>

      <p>After considering the above evidence we acknowledge that you experience pain in your lower back when doing some tasks around the house. Specifically washing yourself and preparing food. We consider that this pain does not hinder you enough to be awarded the enhanced rate of the daily living component of PIP.</p>
      <a href="#"> See the full list of PIP activities and the descriptors we consider apply </a>
      <h2 class="heading-medium">What happens next </h2>
      <p>You can accept the decision or if you feel that this decision is wrong, you can request a hearing where you can explain your appeal in person to the tribunal.</p>
      <form>
        <div class="form-group">
          <fieldset>
            <legend>
              <h1 class="heading-medium">Do you accept the tribunal’s decision?</h1>
            </legend>
            <div class="multiple-choice">
              <input id="radio-1" type="radio" name="radio-group" value="I accept the decision">
              <label for="radio-1">I accept the decision</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-2" type="radio" name="radio-group" value="I want to request a hearing">
              <label for="radio-2">I want to request a hearing</label>
            </div>
          </fieldset>
        </div>
        <div class="form-group">
          <p>You have to respond to this question by [date + 2 weeks]. If you don’t respond we will assume you are accepting the decision and it will be sent to you. 
          </p>
          <a href="hearing-explain-why" class="button">Continue</a>
          <!-- <input class="button" type="submit" value="Submit answer"> -->
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}
