{% extends "layout.html" %}
{% block page_title %}
Accepted the decision
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="task-list">Back</a>
      
            <h1 class="heading-large">
              You have accepted the decision 
            </h1>

          <p class="body-text">You will receive a final decision notice to the address you provided in your appeal form. The decision will also be communicated to DWP.</p> 

<p>Your appeal is now finished. </p>

<p>DWP are responsible for administering the PIP benefit. You can find their contact details on any letter you have received from them, if you need to contact them.</p>
    

</div>
</div>
</main>
{% endblock %}
