{% extends "layout.html" %}
{% block page_title %}
Evidence - statement submitted
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
   <a class="link-back" href="appeal-history">Back</a>
  <div class="grid-row">
    <div class="column-two-thirds">
     
      <h1 class="heading-large">
        Evidence you uploaded
      </h1>

      <p><span class="bold-small">Received:</span> 20 February 2017</p>
      <br/>
       <img src="/public/images/download_document_icon.png" width="50px" height="45px">
<a href="#" class="follow">Download your evidence (PDF, 125kb)</a>
<br/><br/>
<p>This is a PDF containing all the files and documents you uploaded on 20 February 2017
<br/><br/>
 <a class="link-back" href="appeal-history">Back</a>
      </div>
    </div>

  </main>
  {% endblock %}
