{% extends "layout.html" %}
{% block page_title %}
Evidence - statement submitted
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
         <a class="link-back" href="Back to Your PIP benefit appeal">Back to question</a>

  <div class="grid-row">
    <div class="column-two-thirds">
     
      <h1 class="heading-large">
        Evidence uploaded
      </h1>

      <p><span class="bold-small">Received:</span> 20 February 2017</p>
      <br/>
       <img src="/public/images/download_document_icon.png" width="50px" height="45px">
<a href="#" class="follow">Consultants letter (PDF, 125kb)</a>
<br/><br/>
<img src="/public/images/download_document_icon.png" width="50px" height="45px">
<a href="#" class="follow">Care worker letter (PDF, 108kb)</a>

<br/><br/>
<img src="/public/images/download_document_icon.png" width="50px" height="45px">
<a href="#" class="follow">Video of me using my home disability aids (MP4, 280mb)</a>


      </div>
    </div>

  </main>
  {% endblock %}
