{% extends "layout.html" %}
{% block page_title %}
Submit evidence - Statement
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="evidence-options">Back</a>
      <form class="form">
        <fieldset class="form-group">
          <legend>
            <h1 class="heading-large">
              Write your statement
            </h1>

            <p>A useful statement describes how your condition affects your life, including the activities you can and can’t do.</p>
<p>If you want someone else to write a statement for you, they should do it separately and upload it or post it in.</p>
           <a href="about-evidence">Find out more about someone else writing a statement for you</a></p>
          </legend>
          <textarea class="form-control form-control-3-4 autoExpand" name="textarea" id="textarea" rows='6' data-min-rows='6'></textarea>
        </fieldset>
        <div class="form-group">
          <div class="form-group">
            <a href="evidence-confirm" class="button">Submit statement</a>
            <!-- <input class="button" type="submit" value="Submit statement"> -->

          </div>
          <a class="link-back" href="evidence-options">Back</a>
        </form>
      </div>
    </div>
  </main>
  {% endblock %}
