{% extends "layout.html" %}
{% block page_title %}
Submit evidence - Statement
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="question-interacting">Back to question</a>
      <form class="form">
          <h1 class="heading-large">
            Submitting additional evidence
          </h1>
          <p>Useful evidence helps prove what you have said in your answers. For example letters, medical reports or photos.</p> 
          <p>You can also upload a video or audio recording of you speaking the answer.</p>
       
        <br/>
        <label class="heading-small" for="full-name-f1">Evidence title<span class="form-hint"></span>
        </label>
        <input class="form-control form-control-3-4"  type="text" >
        <br/> <br/>
        <div class="dropzone" tabindex="0">
          <form  action="/file-upload" id="dropzone" data-js="drag-and-drop">
            <div class="dz-message">          
              <div class="dz-message-icon"></div>      
              <div class="dz-message-text">Drag and drop files here <br>or<br> <span class="link">click to choose a file</div>
              </div>    
            </form>
          </div>
          <table>
            <thead>
              <tr>
                <th>Uploaded files</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>No files uploaded</td>
              </tr>
            </tbody>
          </table>
          <br/><br/>
          <!--
          <details>
            <summary><span class="summary">Switch to another device to upload</span></summary>
            <div class="panel panel-border-narrow">
              <p>To upload using another device like your mobile phone, got to: </p>
              <p><a href="">http://evidence.upload@hmcts.net</a></p>
              <p>You will be asked to enter this code</p>
              <p class="bold-small">730506</p>
            </div>
          </details>
        -->
        <details>
          <summary><span class="summary">You can also post evidence to the tribunal</span></summary>
          <h2 class="heading-small">
            Posting evidence to the tribunal
          </h2>
          <p class="body-text">Post evidence to the address below.</p>
          <p> Make sure it’s clearly marked with your appeal reference number: <span class="bold">SC242/16/03435</span></p>
          <p>Birmingham ASC<br/>
            HM Courts and Tribunals Service<br/>
            Administrative Support Centre (ASC)<br/>
            P O Box 14620<br/>
            Birmingham<br/>
          B16 6FR</p>
          <p><a href="#">Download and print address </a></p>
          <p>Try to post it as soon as possible to avoid delaying your appeal.</p>
        </details>
        <br/><br/>
        <div class="form-group">
          <a href="question-interacting-upload" class="button">Continue</a>
          <!-- <input class="button" type="submit" value="Submit statement"> -->
        </div>
        <a class="link-back" href="question-interacting">Back to question</a>
      </form>
    </div>
  </div>
</main>
{% endblock %}
