{% extends "layout.html" %}
{% block page_title %}
Extend request confirm
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="task-list-complete">Back</a>
      <h1 class="heading-large">
        Your request for more time will be reviewed by a judge 
      </h1>
      <p class="body-text">
      You’ll get an email with their decision by [1 week from request date]</p>
      <a  href="task-list-extend">Back to questions</a>    </div>
    </div>
  </main>
  {% endblock %}
