{% extends "layout.html" %}
{% block page_title %}
Submit evidence confirmed
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        You have more time to answer the questions
      </h1>
      <p class="body-text">You now have until 18 April 2018 to answer the questions. </p>
      <p>The tribunal will review your answers if you submit them before then. </p>
      <a href="task-list-extend">Return to questions</a>
    </div>
  </div>
  {% include "includes/help-contact.html" %}
</main>
{% endblock %}
