{% extends "layout.html" %}
{% block page_title %}
Submit evidence confirmed
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
      You have another 2 weeks to answer the questions
      </h1>
      <p class="body-text">You now have until [date] to answer the questions. </p>

<p>The tribunal will review your answers if you submit them all before then.
</p>
      <a href="task-list">Return to questions</a>

     
    </div>
  </div>
</main>
{% endblock %}
