{% extends "layout.html" %}
{% block page_title %}
Hearing request approved confirmed
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="hearing-telephone">Back</a>
      <h1 class="heading-large">
        Your telephone hearing will be booked 
      </h1>
     

<p>You’ll receive an email by [date] with the details of your telephone hearing. </p>
<br/>
<a href="#">Exit service</a>
    </div>
  </div>

<div style="margin-top: 80px; font-size: 14px;">
      <p><a href="index">Index</a></p>
    </div> 
    
</main>
{% endblock %}
