{% extends "layout.html" %}
{% block page_title %}
Evidence - options
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="#">Back to questions</a>        
      <form action="/hearing-confirm" method="post" class="form">
        <div class="form-group">
          <fieldset>
            <legend>
              <h1 class="heading-large">The hearing</h1>
            </legend>
            <p>If you request a hearing, your appeal will be looked at by a new tribunal panel. They will make a fresh decision on your appeal which might be different from the view already given. </p>
            <h2 class="heading-medium">Do you still want to request a hearing? </h2>
            <div class="multiple-choice">
              <input id="radio-1" type="radio" name="radio-group" value="yes">
              <label for="radio-1">Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-2" type="radio" name="radio-group" value="no">
              <label for="radio-2">No</label>
            </div>
          </fieldset>
        </div>
        <div class="form-group">
          <!-- <a href="/evidence-statement" class="button">Continue</a> -->
          <input class="button" type="submit" value="Continue">
          <br/><br/>
          <a class="link-back" href="#">Back to questions</a>        
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}
