{% extends "layout.html" %}
{% block page_title %}
Hearing required
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="task-list">Back</a>
      <h1 class="heading-large">
       Do you want a hearing? 
      </h1>
      <p class="body-text">If you go to the hearing you can explain your appeal in person. If you don’t go, the tribunal will make a decision based on the information they already have.  </p>
<p>Support can be arranged for you such as an interpreter, hearing loop or an accessible tribunal room. You can bring friends or family to support you. </p>
      <form action="/hearing-required" method="post" class="form">
        <div class="form-group">
          <fieldset>
            
            <div class="multiple-choice">
              <input id="radio-1" type="radio" name="radio-group" value="Yes I want a hearing">
              <label for="radio-1">Yes, I want to attend the hearing</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-2" type="radio" name="radio-group" value="No I don’t want a hearing">
              <label for="radio-2">No, I don’t want to attend the hearing</label>
            </div>
          </fieldset>
        </div>
        <div class="form-group">
          <!-- <a href="hearing-required-why-not-attending" class="button">Continue</a>  -->
          <input class="button" type="submit" value="Submit answer">
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}
