{% extends "layout_unbranded.html" %}
{% block page_title %}
COR prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
	<div class="grid-row">
		<div class="column-full">
			<h1 class="heading-xlarge">Manage your appeal and Online Resolution
				<span class="heading-secondary">Prototypes</span></h1>

				<ol class="list list-number">
					<li><a href="/mya-004/index">Manage your appeal - All designed features</a></li>
					<li><a href="/mya-003/index">Manage your appeal - Your details and Representatives v2.0</a></li>
					<li><a href="/mya-002/index">Manage your appeal - Your details and Representatives v1.0</a></li>
					<li><a href="/mya-hearing-002/index">Manage your appeal - hearing journeys v2.0</a></li>	
					<li><a href="/mya-hearing-001/index">Manage your appeal - hearing journeys v1.0</a></li>					
				</ol>

<h3 class="heading-small">Online resolution</h3>
<ol class="list list-number">
				<li><a href="/mvp">Private beta</a> | Online resolution MVP</li>
				</ol>

				<h3 class="heading-small">Archive</h3>
				<ol class="list list-number">
					<li><a href="/mya-001/index">Manage your appeal including online resolution</a></li>
					<li><a href="/s1pi12/index">Future state</a> | Sprint 1 / PI12</li>
					<li><a href="/s5pi11/index">Future state</a> | Sprint 5 / PI11</li>
				</ol>

			</div>
		</div>
		
	</main>
	{% endblock %}
