{% extends "layout.html" %}
{% block page_title %}
COR prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
	<div class="grid-row">
		<div class="column-full">
			<h1 class="heading-xlarge">Continuous Online Resolution
				<span class="heading-secondary">Prototype</span></h1>
				<h2 class="heading-medium">Journeys  </h2>

				<ol class="list list-number">
					<li><a href="email-dwp-response-phrrc-e">Welcome and DWP response question</a></li>
					<!--<li><a href="index-mvp-classic">Classic - Future state</a></li>-->
					<li><a href="email-questions-r1">1st round of questions from the panel</a></li>


				</ol>
				
			</div>
		</div>
		
	</main>
	{% endblock %}
