{% extends "layout.html" %}
{% block page_title %}
COR prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
	<div class="grid-row">
		<div class="column-full">
			<h1 class="heading-xlarge">Continuous Online Resolution
				<span class="heading-secondary">Prototype</span></h1>
				<h2 class="heading-medium">Alpha Sprint 06  </h2>

<p>Usability testing 4 April 2018, London.</p>

				<h2 class="heading-medium">User journeys</h2>
			</div>
		</div>
		<ol class="list list-number">
			<li><a href="email-questions-r1">Questions - 1st round</a></li>
			<li><a href="extend-are-sure">Extend deadline - 1 week</a></li>
			<li><a href="extend-request">Extend deadline request</a></li>
			<li><a href=" index-notifications">Deadline reminders</a></li>
			<li><a href="email-questions-r2">Questions - 2nd round</a></li>
			<li><a href="evidence-options">Submit additional evidence</a></li>
			<li><a href="email-hearing-required">Hearing required</a></li>
			<li><a href="email-decision-or-hearing">Decision or hearing</a></li>
		<!--	<li><a href="email-hearing-request-denied">Hearing request denied</a> (required?)</li>
			<li><a href="email-hearing-request-approved">Hearing request approved</a> (required?)</li> -->
			<!--<li><a href="task-list-no-questions">No questions</a></li>-->
			<!-- <li><a href="email-decision-positive">Final decision</a></li>-->
		</ol>
		<br/>
		<h3 class="heading-small">Alternative decision journeys</h3> 
		<ol class="list list-number">
			<li><a href="email-decision-view">Tribunals view</a></li>
			<li><a href="email-decision-final">Final decision</a></li>
		</ol>
		<br/>
		<!-- User journeys to be considered -->
		<h3 class="heading-small">User journeys to be considered</h3> 
		<ol class="list list-number">
			<li>DWP request an oral hearing</li>
			<li>Book hearing / arrangements</li>
			<li>View previously submitted questions (tbc)</li>
			<li><a href="appeal-activity">View activity on the appeal</a> <!--including evidence submitted and communications to and from other parties including the respondant e.g. DWP response and questions to respondant--></li>
			<li>Lapsed/Revised</li>
			<li>Withdrawn</li>
			<li>Appeal closed</li>
			<li>Change email address</li>
			<li>Timeout, shutter page and error screens</li>
<!--
<li>Submit your appeal, COR decision to hearing (MVP hearing asked )</li>
	<li>Submit your appeal, COR decision to hearing (End state)</li>
	<li>Submit your appeal, COR no decision to hearing (MVP)</li>-->
</ol>
<br/>
<h2 class="heading-medium">Notifications</h2>
</div>
</div>
<ol class="list list-number">
	<li><a href="email-questions-r1">Questions - 1st round</a></li>
	<li><a href="email-questions-submitted-confirm">Questions answered confirmation - 1st round</a></li>
	<li><a href="email-extension-1week">Deadline extended by 1 week (tbc)</a></li>
	<li><a href="email-deadline-expire-1day">Deadline reminder - 1 day</a></li>
	<li><a href="email-deadline-expired">Deadline expired</a></li>	
	<li><a href="email-extension-granted">Extension granted</a></li>	
	<li><a href="email-extension-rejected">Extension rejected</a></li>	
	<li><a href="email-questions-r2">Questions - 2nd round</a></li>
	<li><a href="email-questions-submitted-confirm-r2">Questions answered confirmation - 2nd round</a></li>
	<li><a href="email-evidence-uploaded">Additional evidence uploaded</a></li>
	<li><a href="email-hearing-required">Hearing required</a></li>
	<li><a href="email-decision-or-hearing">Decision or hearing</a></li>
</ol>
</main>
{% endblock %}
