{% extends "layout.html" %}
{% block page_title %}
Independence
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">An independent tribunal have reviewed your appeal</h1>

      <p>Your appeal has been reviewed by a judge, a doctor and a disability expert. They are separate to DWP.</p>
      <p>They have reviewed all the information you and DWP have provided. They now have some questions to help them make a decision.</p> 
      <p>The questions will be straightforward and may mean your appeal can be resolved online.</p>
    <a class="button" href="task-list">Continue to questions</a>
    </div>
  </div>
  <div style="margin-top: 80px; font-size: 14px;">
   <p><a href="independence1">Option 1</a></p>
</main>
{% endblock %}
