{% extends "layout.html" %}
{% block page_title %}
COR prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
	<div class="grid-row">
		<div class="column-full">
			<h1 class="heading-xlarge">Continuous Online Resolution
				<span class="heading-secondary">Prototype</span></h1>
				<h2 class="heading-medium">Versions  </h2>

				<ol class="list list-number">
					<li><a href="/mvp">Pilot beta</a> | MVP</li>
					<!--<li><a href="/s1pi12/index">Future state</a> (Sprint 1 / PI12)</li>-->
					<li><a href="/s1pi12/index">Future state</a> | Sprint 1 / PI12</li>

				</ol>
				
				<h3 class="heading-small">Archive</h3>
				<ol class="list list-number">
					<li><a href="/s5pi11/index">Future state</a> (Sprint 5 / PI11)</li>
				</ol>

			</div>
		</div>
		
	</main>
	{% endblock %}
