{% extends "layout.html" %}
{% block page_title %}
Submit evidence confirmed
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
     You have not given permission to access your medical records
      </h1>
      <p class="body-text">The tribunal will not contact your GP.
</p>
      <a href="task-list-r2-q2-comp">Return to questions</a>

     
    </div>
  </div>
</main>
{% endblock %}
