{% extends "layout.html" %}
{% block page_title %}
Submit evidence confirmed
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
      You have given permission to the tribunal  
      </h1>
      <p class="body-text">The tribunal will request the medical information outlined on the previous page. </p>

<p>You’ll get an email when the tribunal have received the information and decided how to proceed.
</p>
      <a class="button" href="questions-submitted-confirm?medicalCompletedOrDraft=completed"">Continue</a>

     
    </div>
  </div>
</main>
{% endblock %}
