{% extends "layout.html" %}
{% block page_title %}
Submit evidence confirmed
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
       You have not given permission to the tribunal  
     </h1>
     <p class="body-text">The tribunal will not request the medical information requested. </p>
           <a class="button" href="questions-submitted-confirm-r2">Continue</a>

   </div>
 </div>
</main>
{% endblock %}
