{% extends "layout.html" %}
{% block page_title %}
COR prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
	<div class="grid-row">
		<div class="column-full">
			<h1 class="heading-xlarge">Continuous Online Resolution
				<span class="heading-secondary">Prototype</span></h1>
				<h2 class="heading-medium">Alpha Sprint 06  </h2>
				
				<h2 class="heading-medium">Notifications</h2>
			</div>
		</div>
		<ol class="list list-number">
			<li><a href="email-questions-r1">Questions - 1st round</a></li>
			<li><a href="#">Deadline extended by 1 week (tbc)</a></li>
			<li><a href="email-deadline-expire-1day">Deadline reminder - 1 day</a></li>
			<li><a href="email-deadline-expired">Deadline expired</a></li>	
			<li><a href="email-questions-r2">Questions - 2nd round</a></li>
		</ol>


</main>
{% endblock %}
