{% extends "layout.html" %}
{% block page_title %}
Question - Mental health
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="task-list">Back to questions</a>
      <form class="form">
        <fieldset class="form-group">
          <legend>
            <h1 class="heading-large">
              Your migraines
            </h1>
            <p class="body-text">
            You said you have difficulties caused by migraines. </p>
            <p>During 2017, can you tell us: </p>
            <ul class="list list-bullet">
              <li>how often you had migraines </li>
              <li>how long they lasted </li>
              <li>how you deal with them </li>
            </ul>
          </legend>
          <div class="appellants-answer">
            <h2 class="bold-small">Your answer</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Submitted: 14 February 2017</p>
          </div>
          <a class="link-back" href="task-list">Back to questions</a>        </div>
        </form>
      </div>
    </div>
  </main>
  {% endblock %}
