{% extends "layout.html" %}
{% block page_title %}
Question - Interacting - Upload1
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
     <a class="link-back" href="/task-list">Back to questions</a>
     <form class="form" action="/question-interacting" method="POST">
      <fieldset class="form-group">
        <legend>
          <h1 class="heading-large">
           How do you interact with people?  
         </h1>
         <p class="body-text">
         You said you avoid interacting with people if possible. We’d like to know more about the times when you see friends and family.</p>
         <p>Tell us about three separate occasions in 2017 that you have met with friends and family. </p>
         <p>Tell us: </p>
         <ul class="list list-bullet">
          <li>who you met</li>
          <li>when</li>
          <li>where</li>
          <li>how it made you feel</li>
        </ul>
      </legend>
      {% if data['interactingCompletedOrDraft'] === 'completed' %}
      <div class="appellants-answer">
        <h2 class="bold-small">Your answer</h2>
        {% if data['textareainteracting'] %}
        <p>{{ data['textareainteracting'] }}</p>
        {% else %}
        <p>[Answer goes here ]</p>
        <table>
          <thead>
            <tr>
              <th>Evidence</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>[Evidence description goes here]</td>
              <td></td>
            </tr>
          </tbody>
        </table>
        {% endif %}
        <br/>
        <p class="font-small">Submitted: 7 March 2018</p>
      </div>
      {% else %}
      <textarea class="form-control form-control-3-4 autoExpand" name="textareainteracting" id="textarea" placeholder="You can write as much as you want " rows='6'
      data-min-rows='6'>{{ data['textareainteracting'] }}</textarea>
      <br/>
      <details>
        <summary><span class="summary">You can record your answer by video or audio</span></summary>
        <div class="panel panel-border-narrow">
         <p>You can record yourself speaking the answer on a mobile phone or other recording device.</p> 

         <p>The recording should be clear and understandable. You could ask someone to help you by holding the mobile phone while you talk.</p> 

         <p>You can upload the recording by clicking ‘upload evidence’ below.   
         </p>
       </div>
     </details>
   </fieldset>

   {% if data['describeTheEvidence'] %}
   <h3 class="heading-small">Evidence</h3>
   <dl class="question-interacting-describe-evidence-table">
    <dd>{{ data['describeTheEvidence'] }} <br/><br/><a href="/evidence-upload-interact">View/edit/add more</a></dd>
  </dl>

  
  {% else %}
  <h3 class="heading-small">Evidence</h3>
  <p>You can submit evidence to support your answer, if you have any. <br/>For example, letters, photos, video or audio.</p>
  <a href="evidence-upload-interact" class="button-secondary">Upload evidence</a>
  {% endif %}


  {% endif %}    
  <div class="form-group">
    {% if data['interactingCompletedOrDraft'] !== 'completed' %}
    <br/><br/>
    <a class="button" href="/question-interacting-confirm" type="submit" value="Submit answer">Submit to the tribunal</a>
    <input class="" type="submit" value="Save for later" style="padding-left:30px;
    padding-top: 8px;background:none!important;
    color:#005ea5;
    border:none; 
    font: inherit;
    /*border is optional*/ 
    cursor: pointer;
    text-decoration: underline">
    {% endif %}
    <br/><br/>
    <a class="link-back" href="task-list">Back to questions</a>        
  </div>
</form>
</div>
</div>
</main>
{% endblock %}
