{% extends "layout.html" %}
{% block page_title %}
Question - Interacting - Upload1
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
     <a class="link-back" href="/task-list">Back to questions</a>
     <form class="form" action="/question-interacting" method="POST">
      <fieldset class="form-group">
        <legend>
          <h1 class="heading-large">
           How do you interact with people?  
         </h1>
         <p class="body-text">
         You said you avoid interacting with people if possible. We’d like to know more about the times when you see friends and family.</p>
         <p>Tell us about three separate occasions in 2017 that you have met with friends and family. </p>
         <p>Tell us: </p>
         <ul class="list list-bullet">
          <li>who you met</li>
          <li>when</li>
          <li>where</li>
          <li>how it made you feel</li>
        </ul>
      </legend>
      {% if data['interactingCompletedOrDraft'] === 'completed' %}
      <div class="appellants-answer">
        <h2 class="bold-small">Your answer</h2>
        {% if data['textareainteracting'] %}
        <p>{{ data['textareainteracting'] }}</p>
        {% else %}
        <p>[ANSWER GOES HERE]</p>
        {% endif %}
        <p class="font-small">Submitted: 7 March 2018</p>
      </div>
      {% else %}
      <textarea class="form-control form-control-3-4 autoExpand" name="textareainteracting" id="textarea" placeholder="You can write as much as you want " rows='6'
      data-min-rows='6'>{{ data['textareainteracting'] }}</textarea>
      <p style="padding-top: 20px; "><a href="">You can record your answer by video or audio and <a href="">upload it</a> </p> 
      {% endif %}
      <br/>
     <div class="multiple-choice" data-target="example-different-country">
        <input id="nationalities-other" name="nationalities" type="checkbox" value="Citizen of a different country">
        <label for="nationalities-other">I want to provide evidence to support my answer</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="example-different-country">
        <p>You can upload letters, documents, photos or videos.</p>
          
        </legend>
        
        <div class="dropzone" tabindex="0">
          <form  action="/file-upload" id="dropzone" data-js="drag-and-drop">
            <div class="dz-message">          
              <div class="dz-message-icon"></div>      
              <div class="dz-message-text">Drag and drop files here <br>or<br> <span class="link">click to choose a file</div>
              </div>    
            </form>
          </div>
          <table>
            <thead>
              <tr>
                <th>Uploaded files</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>No files uploaded</td>
              </tr>
            </tbody>
          </table>
<br/><br/>
          <a href="">You can also post evidence to the tribunal</a>
          <br/>
      </div> 

    </fieldset>

    <br/>
    <div class="form-group">
      {% if data['interactingCompletedOrDraft'] !== 'completed' %}
      <a class="button" href="/question-interacting-confirm" type="submit" value="Submit answer">Submit to the tribunal</a>
      <input class="" type="submit" value="Save for later" style="padding-left:30px;
      padding-top: 8px;background:none!important;
      color:#005ea5;
      border:none; 
      font: inherit;
      /*border is optional*/ 
      cursor: pointer;
      text-decoration: underline">
      <br/><br/>
      {% endif %}
      <a class="link-back" href="task-list">Back to questions</a>        
    </div>
  </form>
</div>
</div>
</main>
{% endblock %}
