{% extends "layout.html" %}
{% block page_title %}
Questions submitted - Round 2
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="task-list-r2?migraineCompletedOrDraft=completed">Back to questions</a>
      <h1 class="heading-large">
        You have answered the tribunal’s questions 
      </h1>
      <p class="body-text">
      The tribunal need some more information from you to help them make a decision on your PIP benefit appeal. The tribunal is made up of a judge, a doctor and a disability expert. They are separate to DWP. </p>

       <p>You’ll get another email by  12 April 2018 which will explain how the tribunal want to proceed with your appeal.    
      </p>
      <p><a href="#">Exit service</a></p>
      <a class="link-back" href="task-list-r2?medicalCompletedOrDraft=completed">Back to questions</a>
    </div>
  </div>
  <div style="margin-top: 80px; font-size: 14px;">
    <p><a href="email-questions-submitted-confirm-r2">Questions submitted confirmation email</a></p>
  </div>  
</main>
{% endblock %}
