{% extends "layout.html" %}
{% block page_title %}
Question - Walking
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="/task-list">Back to questions</a>
      <form class="form" action="/question-walking" method="POST">
        <fieldset class="form-group">
          <legend>
            <h1 class="heading-large">
              How do you walk to the doctors?
            </h1>
               </legend>
            <p class="body-text">
            The DWP healthcare professional noted that you occasionally walk to the GP’s surgery. </p>

            <p>In 2017, please describe the journey, including:
            </p>

            <ul class="list list-bullet">
              <li>how long it took,</li>
              <li>whether you needed to stop on the way</li>
              <li>if so, for how long</li>
              <li>if you used any aids to help you walk </li>
              <li>if you did, what aids did you use? </li>    
            </ul>
       

          {% if data['walkingCompletedOrDraft'] === 'completed' %}
          <div class="appellants-answer">
            <h2 class="bold-small">Your answer</h2>
            {% if data['textarea'] %}
            <p>{{ data['textarea'] }}</p>
            {% else %}
            <p>[ANSWER GOES HERE]</p>
            
            {% endif %}
            <p class="font-small">Submitted: 7 March 2018</p>
          </div>
          {% else %}
          <textarea class="form-control form-control-3-4 autoExpand" name="textarea" id="textarea" rows='6'
          data-min-rows='6'>{{ data['textarea'] }}</textarea>

          <br/>
          <p>You can record your answer by video or audio and <a href="">upload it</a> </p>
          {% endif %}
        </fieldset>

        <div class="form-group">
          {% if data['walkingCompletedOrDraft'] !== 'completed' %}
          <a class="button" href="/question-walking-confirm" type="submit" value="Submit to the tribunal">Submit to the tribunal</a>
          <input class="" type="submit" value="Save for later" style="padding-left:30px;
          padding-top: 8px;background:none!important;
          color:#005ea5;
          border:none; 
          font: inherit;
          /*border is optional*/ 
          cursor: pointer;
          text-decoration: underline">
          <br/><br/>
          {% endif %}
          <a class="link-back" href="/task-list">Back to questions</a>        </div>
        </form>
      </div>
    </div>
  </main>
  {% endblock %}
