{% extends "layout.html" %}
{% block page_title %}
Question - Mobility - Round 2
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="task-list">Back to questions</a>
      <form class="form">
        <fieldset class="form-group">
          <legend>
            <h1 class="heading-large">
              Walking to the GP surgery
            </h1>
            <p class="body-text">
            You said in your previous answer that you occasionally walked to the GP’s surgery.</p>
            <p> Please describe the journey, including:</p>
            <ul class="list list-bullet">
              <li>how long it took,</li>
              <li>whether you needed to stop on the way</li>
              <li>if so, for how long</li>
              <li>if you used any aids to help you walk </li>
              <li>if you did, what aids did you use? </li>    
            </ul>
          </legend>
          <textarea class="form-control form-control-3-4 autoExpand" name="textarea" id="textarea" rows='6' data-min-rows='6'></textarea> 
        </fieldset>
        <div class="form-group">
          <a href="task-list-r2-q1-comp" class="button">Submit to the tribunal</a>
          <!-- <input class="button" type="submit" value="Submit answer"> -->
                  <a href="task-list-r2-q1-draft" class="save-for-later">Save for later</a>
          <br/><br/>
      <a class="link-back" href="task-list-r2">Back to your questions</a>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}
