{% extends "layout.html" %}
{% block page_title %}
Task list - Round 1
{% endblock %}
{% block content %}
<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds column-minimum">
      <h1 class="heading-large">
        Your PIP benefit appeal
      </h1>
      <div class="details">
        <h2 class="heading-medium">Manish Sharma</h2>
        <h2>Appeal reference:  SC242/16/03435  </h2>
      </div>
      <div class="divider"></div>
       <br/>
      <a href="provide-evidence"><img src="/public/images/tab_questions.png" width=630px></a>
      <br/><br/><br/>
         <h3 class="heading-small">Questions from the tribunal</h3>
          <p>You need to respond by 14 March 2018 <span class="font-xsmall">(<a href="extend-are-sure">Extend deadline</a>)</span></p>
       
          <ul class="task-list-items">

<!-- Interacting -->

            <li class="task-list-item">
               <a class="task-name" href="/question-interacting{% if interacting === 'completed' %}?completed=true{% endif %}" aria-describedby="interacting-respond">
                Interacting with people
              </a>
              {% if interacting === 'completed' %}
                  <strong href="" class="task-completed" id="eligibility-respond">Completed</strong>
                {% elif interacting === 'draft' %}
                  <a href="/question-interacting"><strong class="task-draft">Draft</strong></a>
                {% endif %}
            </li>


<!-- Walking -->

            <li class="task-list-item">
              <a class="task-name" href="/question-walking{% if walking === 'completed' %}?completed=true{% endif %}" aria-describedby="walking-respond">
                Your journey to the doctors
              </a>
                {% if walking === 'completed' %}
                  <strong href="" class="task-completed" id="eligibility-respond">Completed</strong>
                {% elif walking === 'draft' %}
                  <a href="/question-walking"><strong class="task-draft">Draft</strong></a>
                {% endif %}
            </li>


<!-- migraine -->

            <li class="task-list-item">
               <a class="task-name" href="/question-migraine{% if migraine === 'completed' %}?completed=true{% endif %}" aria-describedby="migraine-respond">
                Your migraine
              </a>
                 {% if migraine === 'completed' %}
                  <strong href="" class="task-completed" id="eligibility-respond">Completed</strong>
                {% elif migraine === 'draft' %}
                  <a href="/question-migraine"><strong class="task-draft">Draft</strong></a>
                {% endif %}
            </li>
          </ul>
        </li>




      </div>
    </div>
    
  </main>
  {% endblock %}
