{% extends "layout.html" %}
{% block page_title %}
Task list - Round 2
{% endblock %}
{% block content %}
<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds column-minimum">
      <h1 class="heading-large">
        Your PIP benefit appeal
      </h1>
      <div class="details">
        <h2 class="heading-medium">Manish Sharma</h2>
        <h2>Appeal reference:  SC242/16/03435  </h2>
      </div>
      <div class="divider"></div>
      <br/>
         <h3 class="heading-small">Questions from the tribunal</h3>
          <p>You need to respond by 22 March 2018<span class="font-xsmall"> (<a href="extend-are-sure">Extend deadline</a>)</span></p>
       
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="question-mobility-r2" aria-describedby="eligibility-completed">
                Walking to the doctors
              </a>
              <!-- <strong href="" class="task-completed" id="eligibility-respond">Completed</strong> -->
            </li>
            
          </ul>
       
      <h2 class="heading-small">Additional evidence</h2> 
      <p>If you have any additional information that is relevant to your appeal, you can submit it to the tribunal. You don’t have to submit anything if you don’t want to. </p>
        <a  href="evidence-options">Submit additional evidence</a>
        <!--<a class="button" href="#">Provide evidence</a>-->
      </div>
    </div>
    
  </main>
  {% endblock %}
