{% extends "layout.html" %}
{% block page_title %}
You cannot access this service
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        You cannot access this service
      </h1>
      <p class="body-text">Please check any emails or letters you have received about your benefit appeal if you would like an update.</p>


    
      <br/>{% include "includes/help-contact.html" %}
    </div>
  </div>
</main>
{% endblock %}



 

 

