{% extends "layout.html" %}
{% block page_title %}
More than one appeal
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        There is more than one appeal associated with this email address. 
      </h1>
      

<p>Please email <a href="mailto:benefitappeals@hmcts.net?subject=Support: SC242/16/03435: MA">benefitappeals@hmcts.net</a> and we will resolve it for you. Include your appeal reference number and name.</p>

<p>We apologise for any inconvenience.</p>

    
      <br/>{% include "includes/help-contact.html" %}
    </div>
  </div>
</main>
{% endblock %}




  

 


