{% extends "layout.html" %}
{% block page_title %}
Technical problem with your account
{% endblock %}
{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        There is a technical problem with your account
      </h1>
      <p class="body-text">There is a technical problem with the account you are using to access your benefit appeal. </p>

<p>Please email <a href="mailto:benefitappeals@hmcts.net?subject=Support: SC242/16/03435">benefitappeals@hmcts.net</a> and we will resolve it for you. Include your appeal reference number and name.</p>

<p>We apologise for any inconvenience.</p>


    
      <br/>{% include "includes/help-contact.html" %}
    </div>
  </div>
</main>
{% endblock %}



 

  

 


